[2017-03-13 16:25] jpan613 opened #1 "Layer-2 Headers of Spanning-Tree"
I noticed an edge case in sampled STP layer-2 header, where the source and destination mac addresses are followed by length instead of ethertype (because STP doesn't have an ethertype), and  as a result, length (usually 105) is reported as the ethertype.
I guess one way to get around it is to use the source or destination mac address, which s 01:80:c2:00:00:00 for STP, to identify this edge case.

[2017-03-13 22:58] mehrdadrad commented on #1
@jpan613 are you talking about the sflow and the below?
https://github.com/VerizonDigital/vflow/blob/master/packet/ethernet.go#L106

[2017-03-29 15:19] jpan613 commented on #1
@mehrdadrad exactly

[2017-04-03 18:56] mehrdadrad commented on #1
@jpan613 as the ethernet and IP networks are most popular and we need to deep dive on their flow, The vFlow does only ethernet -> IPv4/IPv6 -> UDP/TCP decoding (sFlow) for the time being.
If anyone needs other protocols like STP they can create a PR.

[2017-04-08 00:38] fartbagxp opened #3 "NetFlow V9 support"
Hi, I was wondering if there is any plan on doing ~sFlow~ NetFlow v9 support.

Thanks!

[2017-04-09 02:40] mehrdadrad commented on #3
@fartbagxp if you mean NetFlow v9, I think we need to get at least few requests , then we can prioritize it. I personally would like to add this protocol.

[2017-04-09 03:14] fartbagxp commented on #3
Yeah, sorry about that. I was looking for NetFlow V9 support.
Other than that, I'm planning on trying this out.

Is stress what you use to test it out locally?

[2017-04-09 17:48] mehrdadrad commented on #3
@fartbagxp a few sample flow data hard coded at the stress and it can be able to send them to any ipfix/sflow collector through IP network.

[2017-04-10 17:58] mehrdadrad commented on #3
@fartbagxp I just initialized a new package for NetFlow v9 but as it's not priority no idea when it will be done.

[2017-04-13 18:13] #1 closed

[2017-04-18 12:52] dpicollege opened #4 "question about configure"
Hello,
i install and run docker. so i have some question
1- ok is there any interface or log file for see the output?
2- i just installed on ubuntu 16 does i need cisco or juniper router to send data to ubuntu?
3-what configure should i change to send traffic to vflow?
and lot's of more question thanks :D for great project!

[2017-04-18 18:49] mehrdadrad commented on #4
Hi @dpicollege,
You need to have IPFIX/sFlow agent like Juniper or any other software which they export traffic sampling through IPFIX/sFlow. I'll try to put example configuration at docs soon and update here too.
You can mount local docker host to the container like below to see the log:
[code]

[2017-04-24 08:43] DamianZaremba opened #5 "Config flags don't work"
The -config flag is documented @ https://github.com/VerizonDigital/vflow/blob/master/docs/config.md, as well as in --help.

Using it to specify an alternate config file doesn't appear to function as expected;

[code]

Strace confirms the binary isn't attempting to open the test file;

[code]

The message broker config appears to exhibit the same behaviour;
(/usr/local/vflow/etc/vflow.conf has been

[2017-04-24 09:19] DamianZaremba opened #6 "Hard coded topic prefix"
The existing producer codes, forces topic names via ([https://github.com/VerizonDigital/vflow/blob/master/producer/producer.go#L75](https://github.com/VerizonDigital/vflow/blob/master/producer/producer.go#L75), [https://github.com/VerizonDigital/vflow/blob/master/vflow/sflow.go#L120](https://github.com/VerizonDigital/vflow/blob/master/vflow/sflow.go#L120) & [https://github.com/VerizonDigital/vflow

[2017-04-24 11:18] DamianZaremba opened #7 "Multiple message broker destinations"
Currently there is a single publisher that can be specified.

In certain setups, it would be nice to have multiple publishers, including those of the same type.

An example of this would be where there are distinct kafka clusters for redundancy purposes (dual write, dual read), or purpose specific clusters (general vs security for example).

Would it be possible to have multiple instances of publi

[2017-04-24 17:36] mehrdadrad commented on #5
@DamianZaremba Thank you for reporting this. I could duplicate the vflow.conf issue but not for broker config.

[2017-04-24 17:39] #5 closed

[2017-04-24 18:22] mehrdadrad commented on #6
@DamianZaremba right, we need to have the topic names optional.

[2017-04-24 18:38] mehrdadrad commented on #6
the changes committed in repo.

[2017-04-24 18:38] #6 closed

[2017-04-24 18:57] mehrdadrad commented on #7
nice feature, let's keep this open for more discussion and see other idea.

[2017-04-25 18:35] mmlb opened #8 "godoc is treating license header as docs"
The current situation is:

[code]
but all the go tools are setup to parse comment immediately before package statement as the package docs. This situation is not very useful. I've verified the following does the right thing.
[code]

I can submit a PR this is wanted.

[2017-04-25 18:53] mmlb commented on #8
and the duplicate package comments should be dropped too.

[2017-04-25 21:51] mehrdadrad commented on #8
@mmlb thank you for your suggestion, I tried /store and it works. I need to change all later soon. that's much helpful for other developers if they want to contribute.

[2017-04-26 18:19] #8 closed

[2017-05-04 17:35] mehrdadrad commented on #3
@fartbagxp the netflow version 9 already added to the vFlow. I tried it w/ nprobe and works but I think still we need to test and make sure everything works properly.

[2017-05-04 17:35] #3 closed

[2017-05-24 14:10] lyma commented on #4
Hi @mehrdadrad !

Thank you for sharing this project!
Is there any interface (web, maybe) for output like in nfsen project?
Can you explain for me (a docker newbe) the docker parameters?

Regards.

Lyma

[2017-05-24 17:30] mehrdadrad commented on #4
@lyma there isn't any built in UI but you can get / see the data through the below:
1- MemSQL (through SQL statement)
2- Kafka Consumer shell script (kafka-console-consumer.sh)
3- Through other scripting language like Python

vFlow has built in monitoring so you can see them through the API or InfluxDB/Grafana

In regard to docker,  you can try as below or above reply.
[code]

Please see the Build

[2017-05-24 20:07] JohnOmernik opened #10 "Question about listeners/setup (espeicially in Docker)"
I am looking to run this in Apache Mesos (great setup by the way) based on the architecture page, it looks like I can run multiple instances of this to sync up together for HA etc, however, because they use multicast, I'd have to run my docker daemons in host mode for that to work?  (Please correct me if I am wrong).

Thanks!

[2017-05-25 00:58] aaaasssdd opened #11 "I get error"
C:\Users\59401>go get github.com/VerizonDigital/vflow/vflow
# github.com/VerizonDigital/vflow/mirror
d:\users\go\src\github.com\VerizonDigital\vflow\mirror\mirror.go:65: undefined: syscall.IPPROTO_RAW
d:\users\go\src\github.com\VerizonDigital\vflow\mirror\mirror.go:88: cannot assign syscall.Handle to conn.fd (type int) in multiple assignment
d:\users\go\src\github.com\VerizonDigital\vflow\mirror\m

[2017-05-25 16:25] mehrdadrad commented on #11
I haven't tried to compile for Windows, but you can compile it on a Linux OS without error.
It tested and works in production on the Linux Ubuntu 14.04 trusty. I'll update the document in this case.

[2017-05-26 00:50] aaaasssdd commented on #11
I can use centos ?

[2017-05-26 01:53] mehrdadrad commented on #11
@aaaasssdd it should be fine, please let us know the result here once you tried. Thanks!

[2017-05-26 12:56] aaaasssdd commented on #11
Wait till I finish testing.

[2017-05-26 17:02] mehrdadrad commented on #10
@JohnOmernik I haven't tried it with Apache Mesos.

[2017-05-26 17:22] JohnOmernik commented on #10
So it's not really related to Mesos (the question).  I am more asking about running with multiple instances of vflow working together. I.e. if they are tied together using multicast as the approach... that won't be possible if you are running vflow in docker and using bridge mode.  Correct? This requires us to run the docker containers in host mode so the daemon can actually listen on a host multi

[2017-05-26 20:07] mehrdadrad commented on #10
I think bridge mode should work. it doesn't have any config in regard to multicast nodes but that's nice to add this feature. in case the multicast doesn't work you just lose data once you start the vFlow for first time (short time based on the device template interval configuration) and once a template added in device(s).

[2017-05-28 13:56] rtsam opened #12 "Error on cisco ipfix template save"
[vflow] 2017/05/28 08:39:25 couldn't not dump template json: unsupported type: map[uint32]ipfix.Data

[2017-05-30 16:32] mehrdadrad commented on #12
Does it work before dumping? Please let me know the below info:
1- device model and IOS
2- operating system
3- go version

[2017-05-30 16:45] rtsam commented on #12
It does... works wonderfully. There are template errors when vflow is started after a flow is already running, (unknown ipfix template id# 257) however adding "template data timeout 300" to the exporter causes a template resend every 5 minutes. And works fine after that.

Also, here is what we are exporting (i am guessing it does not know how to save one of the fields?)...

flow record NetFlowReco

[2017-05-30 17:41] mehrdadrad commented on #12
@rtsam did you compile the latest code? cuz we had a dump issue a few months ago but it fixed and i just tried again at our network (Juniper) and works. we have all of your fields. can you compile w/ go 1.8.x as well and try again? Thanks!

[2017-05-30 20:42] rtsam commented on #12
I did... just set everything up last week. So the code would be recent. However I just upgraded go to 1.8.1. And it is dumping the templates now. So the conclusion is; the version of go that comes with Ubuntu was the problem. Thanks!

[2017-05-30 20:47] mehrdadrad commented on #12
@rtsam very cool :) no idea why 1.6.2 caused this issue but I'm happy the Go upgrade fix this issue.

[2017-05-30 22:24] #12 closed

[2017-06-23 02:52] jrossi opened #17 "Unified configuration and flags"
Currently vflow uses a few different files for configuration, and some of it's not super easy to keep track of.  Nor allow some features to be excluded (mirror on windows #16 )

Would this project be willing to accept something a little more complete and unified?  Some examples of ideas:
* https://github.com/jessevdk/go-flags
* https://github.com/spf13/viper + https://github.com/spf13/cobra

I hap

[2017-06-23 20:42] mehrdadrad commented on #17
@jrossi in this project tries to use less 3rd party packages as much as possible. the mentioned packages are awesome but not necessary to use them. thanks for your suggestions.

[2017-06-23 20:58] jrossi commented on #17
Understood, and maybe third party depends are not the correct way.  What about a more unified configuration system that was a single config file for everything?

[2017-06-23 21:18] mehrdadrad commented on #17
there are only two configs: 1- main config  2- producer config
the producers are kind of plugin, separate of the vFlow core. they just register at vFlow.
The producers can have their specific parameters in their own config and works independent  without any change at vFlow core. any benefit of having a config instead of two?

[2017-06-23 23:04] #10 closed

[2017-06-23 23:04] #4 closed

[2017-06-28 17:46] mehrdadrad commented on #11
@aaaasssdd any update?

[2017-06-30 07:12] tanaboon commented on #11
I use centos 7
run docker & brows http://127.0.0.1:8081
show 404 page not found
Can you help me that how to use it.

[2017-06-30 16:28] mehrdadrad commented on #11
You need to call them as below and these two APIs return the internal metrics. if you have plan to try it through Docker, you need to configure at least a device or a host which they support IPFIX / sFlow.

Flow API : http://localhost:8081/flow
[code]
System API : http://localhost:8081/sys
[code]

[2017-07-04 01:45] #17 closed

[2017-07-07 19:45] mehrdadrad commented on #11
@aaaasssdd
@jrossi fixed the mirror compiling issue at Windows which now you can compile it at Windows OS without having mirror feature, could you please try it w/ latest code and let us know? Thanks!

[2017-07-13 18:43] #11 closed

[2017-07-20 11:58] b5y opened #19 "Completing Netflow v9 implementation"
Hello!

I need netflow v9 parser to extract data from nfcapd files. Namely, getting some information about bytes, destination and source addresses. I have used nfdump to run it from golang application. Unfortunately, it is not very fast when files have size more than 1 GB. The only way to fix it is to read nfcapd files directly with golang using goroutines and semaphores.

All I want is to proceed

[2017-07-27 06:46] herc6 opened #20 "unknown ipfix template"
Hello,

I try to run vflow for collecting IPFIX data. When vflow receives the ipfix data I get the follow error
"unknown ipfix template id# 15599" and nothing is put onto kafka

regards,

[2017-07-27 16:41] mehrdadrad commented on #20
- what's device or software which you tried to send IPFIX?
- please try w/ latest version

[2017-07-28 08:22] herc6 commented on #20
I'm use version 0.4.1
The ipfix data is send from the procera server.
Using ipfixcat (https://github.com/calmh/ipfixcat)  it works fine

[2017-07-28 16:04] mehrdadrad commented on #20
@herc6 Per [ipfixcat github](https://github.com/calmh/ipfixcat), it supports RFC 5101 so looks Procera sends IPFIX based on this RFC (old one) then you can see the parsed data by this tool. RFC 5101 obsoleted by RFC 7011 and the vFlow supports RFC 7011.
I'm not familiar w/ Procera but you can ask them to how you can update your IPFIX agent.

[2017-07-31 11:49] b5y commented on #19
Already completed by @mehrdadrad. Many thanks!

[2017-07-31 11:49] #19 closed

[2017-08-09 14:43] #20 closed

[2017-08-21 15:43] jrossi opened #21 "ipfix/netflow on on different ports"
Before I go and code things up.  ipfix and netflow run on different ports and this is not required.  A switch/if could be used on the first 2 bytes of the packet.

Code to do this be accepted?

[2017-08-21 23:23] mehrdadrad commented on #21
in this case we can listen a port for all protocols. kind of the below multiplexer:
https://github.com/soheilhy/cmux
I think the main issue is overhead once we have heavy load (more than 10Tbps). as I remember other flow collectors listen to diff ports. what's benefit of this feature?

[2017-08-22 01:03] jrossi commented on #21
Not even that :) far simpler.

https://github.com/VerizonDigital/vflow/blob/master/vflow/ipfix.go#L147

Something like:
[code]

[2017-08-22 17:33] mehrdadrad commented on #21
again, what's benefit of having a port instead of individual?
once we have two ports:
- two listeners from two goroutine, get the UDP packets, better performance to read UDP buffer
- should be faster as we don't check two bytes + make decision to send to appropriate channel
- I think when we have two listeners, we have two buffers at OS layer (less UDP drop)

[2017-08-28 14:20] richb-hanover opened #22 "Visualizing flow information..."
Not a real issue, more a question... (I saw vflow mentioned on the NANOG list the other day.)

vflow sounds really impressive for big flow traffic. I am looking at a slightly different application space, and wonder if vflow might work.

I'm writing a series of blog posts about netflow collectors that are useful for home networks. (Even though you're a little guy, you still need good tools...) You

[2017-08-30 09:24] AlexeyStolyarov opened #24 "cannot compile clickhouse/main.go"
when I trying
`go build main.go`

Ive got

[code]
solution I have found:
`cd <src/kshvakov/clickhouse> && make  git checkout  3d7bd11  `
(this rollbacks codebase to date when last commit was made in your repo)

[2017-08-30 16:03] mehrdadrad commented on #24
I just tried w/ latest version of clickhouse package: c4eeaf6 and main.go built w/o error. @kshvakov had few commits 6-8 hours ago, pls try again w/ latest and see how it works for u.

[2017-08-31 04:23] AlexeyStolyarov commented on #24
Nope. The same error.
last commit in kshvakov repo is that I got
[code]

suppose the reason is my environment
Ive got:
[code]

[2017-08-31 05:45] kshvakov commented on #24
@AlexeyStolyarov Go 1.7 isn't supported by ClickHouse driver, the minimum version of Go is 1.8

[2017-08-31 18:20] mehrdadrad commented on #22
@richb-hanover the vFlow produces data to the message bus (Kafka/NSQ/NATS) then you need to create your own consumer to insert to anywhere. depends on the load you need different strategies. one of the scenarios is ingesting to Elasticsearch then you can visualize them by Kibana. when you have mid-high load you need to have aggregation and warehousing. other solution could be TSDB/HBase w/ Grafana

[2017-09-01 03:00] richb-hanover commented on #22
Thanks for this feedback. My focus is relatively low-traffic: home routers.

I was wondering if you (or anyone else) have any examples of a graphical consumer that could show top talkers, top ports/protocols, etc. Thanks again.

[2017-09-12 13:15] jrossi commented on #21
Sorry - wow - left this open forever.  For my use case I have many many different devices all pushing netflow and ipfix to the same port.  Have been doing this for ages.  Simpler for me when working with other teams.

[2017-09-13 17:14] mehrdadrad commented on #21
np, we can have this as a utility: one specific UDP listener then it routes them to two diff ports based on the first two bytes. IPFIX source IP address should be same so it needs spoofing feature.
but if you have many diff devices + traffic so perf must be concerned so the diff ports should be better.

[2017-10-02 23:49] fgbs opened #28 "mq config examples"
Hello all,

Only kafka publisher examples available, but nothing for NATS and NSQ.

[2017-10-03 00:02] mehrdadrad commented on #28
@fgbs NSQ quick start: https://github.com/VerizonDigital/vflow/blob/master/docs/quick_start_nsq.md

[2017-10-03 01:29] fgbs commented on #28
@mehrdadrad these example only works if you hace NSQ in the same host because is [hardcoded](https://github.com/fgbs/vflow/blob/master/producer/nsq.go#L53), the same apply to [NATS](https://github.com/fgbs/vflow/blob/master/producer/nats.go#L48)

[2017-10-03 03:48] mehrdadrad commented on #28
@fgbs can you try below for NSQ:
edit /etc/vflow/mq.conf and add below:
-server: hostaddress:port

[2017-10-03 12:33] franks231 opened #29 "Netflow: fatal error: runtime: out of memory"
Hello All,

i get "fatal error: runtime: out of memory" after some minutes vflow is running
and this is my vflow.conf:

netflow9-workers: 50
log-file: /var/log/vflow.log
ipfix-tpl-cache-file: /usr/local/vflow/vflow.templates
netflow9-topic: anomaly
ipfix-enabled: false
sflow-enabled: false
dynamic-workers: false

[2017-10-03 14:39] #24 closed

[2017-10-03 14:39] #7 closed

[2017-10-03 14:51] mehrdadrad commented on #29
pls give me more info:
- did you compile? Go version? what OS?
- device vendor(s)?
- messaging bus?
- hardware spec? dedicated or shared between other apps
- attach the fatal error details

[2017-10-03 14:53] #21 closed

[2017-10-03 18:22] franks231 commented on #29
Hi mehrdad,

1- yes i compile that, go version go1.8.3 linux/amd64 , ubuntu 16.04
2- Cisco netflow9
3- Kafka
4- VM, dedicate, 20 Core vcore + 16GB memory
5- https://pastebin.com/12iEidT8

[2017-10-03 21:46] mehrdadrad commented on #28
I did minor changes at code and update [config](https://github.com/VerizonDigital/vflow/blob/master/docs/config.md) doc.
NSQ same as before:
server: host:port
NATS:
url: url

[2017-10-04 16:23] mehrdadrad commented on #29
@franks231 I tried in my dev box and I couldn't duplicate this issue yet.
- can you check the vflow log file and send me if there is any logging
- can you try without the below configs:
ipfix-enabled: false
sflow-enabled: false
dynamic-workers: false

[2017-10-04 17:04] franks231 commented on #29
@mehrdadrad
i try without this 3 lines but vflow crash again

and this is a vflow sample logs

- unexpected EOF
- can not read the data
- can not read the data
- can not read the data
[vflow] 2017/10/03 18:13:30 Multiple errors:
- can not read the data
- unexpected EOF
- can not read the data
- can not read the data
- can not read the data
- can not read the data
- can not read the data
10.234.233

[2017-10-04 17:10] mehrdadrad commented on #29
@franks231 What's Netflow version configured at router? can I have the configuration?

[2017-10-04 17:59] franks231 commented on #29
@mehrdadrad  netflow is version 9
I don't have access right now but I send the configuration asap

[2017-10-16 06:49] naude-r opened #30 "Netflow: index out of range [Huawei]"
we are receiving netflow v9 flows from a huawei device. vflow immediately errors out:
[code]
can send a pcap file in a private mail if you prefer.

we are running the binary downloaded from the release page on redhat 7.2

[2017-10-17 00:35] mehrdadrad commented on #30
Please send me your pcap  (you can find my email at my github profile)
If your device support IPFIX, can you try it and see how it works?

[2017-10-17 06:08] naude-r commented on #30
pcap has been send.

the huawei device only supports netflow v9 and netstream. unfortunately IPFIX is not an option.

[2017-10-17 17:37] mehrdadrad commented on #30
Looks Huawei supports netstream protocol which "it much likes netflow". I think that's why the data is not as it must be and causes out of index issue. did you configure "ip netstream" ?

[2017-10-18 06:32] naude-r commented on #30
have asked the admin. his response is below:
[code]
in short: we are not sure....which is probably related to the issue.

looks like we will have to investigate other options for now.

thank you for the time / effort.

[2017-10-18 06:32] #30 closed

[2017-10-20 05:55] #28 closed

[2017-10-21 17:32] ryan-self opened #32 "Question: Netflow v5 traffic and verifying vflow operation"
Does the collector listening for v9 traffic on 4729 also listen for v5? That is our main need: any netflow traffic, we'd like to send through the same socket. For IPFIX, we'll shoot through your other socket. We're using kafka within docker, which I have verified working with other traffic. I used the VFLOW_KAFKA_BROKERS env var you referenced in your docs.

I tried a POC using fprobe on Mac OS X

[2017-10-23 00:38] mehrdadrad commented on #32
@ryan-self It supports Netflow v9 only and there is flow API to see different [counters/metrics](https://github.com/VerizonDigital/vflow/blob/master/monitor/README.md)

[2017-10-23 03:15] JasonLZJ opened #33 "Can vflow support distributed deployment and plugins ？"
How many QPS supports a single machine?

Do you support plugins to support other protocols? such as NetStream, CFlowd ?

thanks

[2017-10-23 17:06] mehrdadrad commented on #33
@JasonLZJ I tried w/ Dell R620 and it could handle more than 80K IPFIX UDP packet per second (assuming 5 samples per packet) + producing data to Kafka.
You can write any sampling protocol w/ Golang and add to vFlow, that's very straightforward as already I did three protocols. please check the [arch](https://github.com/VerizonDigital/vflow/blob/master/docs/design.md)

[2017-10-24 13:55] ryan-self commented on #32
@mehrdadrad Thank you for the metrics link! That helped. Are there plans to support v5? It would be very helpful for companies that support a wide range of customers, in terms of tech stacks.

[2017-10-24 22:44] mehrdadrad commented on #32
@ryan-self sorry no plan for v5 in our side but if someone wants to add v5 to vFlow I'll help.
I suggest you to use IPFIX if your devices support.

[2017-10-31 14:13] jan-zajic commented on #29
Hello All, we have same error, config file:
ipfix-enabled: false
sflow-enabled: false
netflow9-enabled: true
ipfix-workers: 1
sflow-workers: 1
netflow9-workers: 5
netflow9-port: 10000
dynamic-workers: false
send to kafka topic.
Crash about every 5 minutes. Collect correct data in between.

[vflow-netflow-log.txt](https://github.com/VerizonDigital/vflow/files/1430981/vflow-netflow-log.txt)
[vflow-n

[2017-10-31 15:12] mehrdadrad commented on #29
@jan-zajic what's device vendor name? can you send me your device netflow 9 config?

[2017-10-31 15:54] #22 closed

[2017-11-05 22:55] ericavijay opened #34 "Netflow v9 not forwarding to Kafka when v9 element not recognized."
I am using a Cisco ASA to test this out with latest software and flow exporter in v9 format.  It looks to me like the IPFIX decoder uses non-fatal error on unidentified element
--- ipfix/decoder.go lines 490-494
                if !ok {
                        return nil, nonfatalError(fmt.Errorf("IPFIX element key (%d) not exist",
                                tr.FieldSpecifiers[i].ElementID))

[2017-11-05 23:02] ericavijay opened #35 "Debian and RPM package feature request."
First of all for this good framework and nice software to get IPFIX data into big data like systems in a native and simple way.  These are more feature requests I have to help see this in a production system at an ISP.  My desire is to use these to create tools for DDOS early warning, malware detection like use cases. Here are the feature requests

1. vflow_stress links to a file that is local or

[2017-11-06 16:36] mehrdadrad commented on #34
@ericavijay good catch! I'll fix this soon.

[2017-11-06 17:03] ericavijay commented on #34
One thing I noticed if I change just the two lines in netflow/v9/decoder.go
it does not seem to be enough. There is probably more changes needed to log
and move on to "pass" through to the queue messages beign generated.  Didnt
have time to read to read the code in detail, you as experts will probably
get to the bottom of it faster!

Vijay

On Mon, Nov 6, 2017 at 11:36 AM, Mehrdad Arshad Rad <
not

[2017-11-06 18:52] paolss opened #36 "latest version from git "operation not supported" when running"
Hi
Just trying to install and run
configs:
cat /etc/vflow/vflow.conf
ipfix-workers: 600
sflow-workers: 300
sflow-port: 9999
stats-http-port: 10080
log-file: /var/log/vflow.log

cat /etc/vflow/mq.conf
brokers:
    - 127.0.0.1:9092
retry-max: 1
retry-backoff: 30

netstat -na | grep 9092
netstat -na | grep 9092
tcp6       0      0 :::9092                 :::*                    LISTEN

logs for vflow

[2017-11-06 18:55] paolss commented on #36
complete log:
[vflow] 2017/11/06 19:54:31 Welcome to vFlow v.unknown Apache License 2.0
[vflow] 2017/11/06 19:54:31 Copyright (C) 2017 Verizon. github.com/VerizonDigital/vflow
[vflow] 2017/11/06 19:54:31 starting stats web server ...
[vflow] 2017/11/06 19:54:31 ipfix is running (UDP: listening on [::]:4739 workers#: 600)
[vflow] 2017/11/06 19:54:31 netflow v9 is running (UDP: listening on [::]:472

[2017-11-06 19:05] mehrdadrad commented on #36
the error: "operation not supported" appears on your console not log right? looks this error related to storage. did you set file access control lists?

[2017-11-06 20:38] paolss commented on #36
yes operation not supported appears on console when starting

[2017-11-06 20:44] paolss commented on #36
file access control list ?
Is this in configuration ?
I just configured vflof.conf with sflow/netflow + mq for kafka

[2017-11-06 20:57] mehrdadrad commented on #36
this error doesn't come from vFlow, if you google "operation not supported" you can see the results are related to storage. I think there is a limitation on your host which causes this issue.

[2017-11-06 21:19] paolss commented on #36
No this is not file permission problem
2017/11/06 22:15:04 operation not supported

And im trying to start vflow by root - so cant have file permission problems - and no selinux enabled

After deleting config files:
[vflow] 2017/11/06 22:17:19 open /etc/vflow/vflow.conf: no such file or directory
[vflow] 2017/11/06 22:17:19 Welcome to vFlow v.unknown Apache License 2.0
[vflow] 2017/11/06 22:17:19

[2017-11-06 21:22] paolss commented on #36
it is starting to receive some sflow data also
[vflow] 2017/11/06 22:20:34 rcvd sflow data from: 192.168.22.138:48681, size: 1328 bytes
[vflow] 2017/11/06 22:20:34 rcvd sflow data from: 192.168.32.72:58213, size: 1372 bytes
[vflow] 2017/11/06 22:20:34 rcvd sflow data from: 192.168.32.21:39614, size: 1372 bytes
[vflow] 2017/11/06 22:20:34 rcvd sflow data from: 192.168.32.21:39614, size: 1224 bytes

[2017-11-06 22:02] mehrdadrad commented on #36
did you configure mq.conf? what messaging bus you're using?

[2017-11-06 22:08] paolss commented on #36
as I posted on first message.
mq.conf / vflow.conf
broker kafka

But now for debug i deleted config files to check what happens

[2017-11-06 22:28] #32 closed

[2017-11-13 09:04] iyacontrol opened #37 "for sflow, is there a plan to support Counter Sample mode?"

[2017-11-14 16:13] mehrdadrad commented on #37
@iyacontrol there isn't any plan to add counter sample feature but pull requests are welcome.

[2017-11-17 07:30] iyacontrol commented on #37
@mehrdadrad yeah, i will. our caompany is develop collector for netflow , sflow ,netstream.

[2017-11-21 18:58] mmlb opened #38 "dependency management"
Running `go get ./...` strikes me as not the greatest thing to be doing, any thoughts on using a package manager to handle the deps?

I ran `dep init .` and found many of the dependencies to have sane versions released.

[2017-11-22 17:49] mehrdadrad commented on #38
@mmlb pls post more details about this.

[2017-11-29 00:26] tim-hutchinson commented on #34
Seconding this, seeing it on IPFIX where there are enterprise-specific information elements sent through. I'm going to start working through the decoder tomorrow to start handling it.

With IPFIX at least, I think the output format would need to change the handle outputting the enterprise number. What are your thoughts on the best way to handle that?
[code]

Of those, adding a top-level field make

[2017-11-29 20:16] mehrdadrad commented on #38
@mmlb it's not necessary, thanks!

[2017-11-30 22:45] JPercivall opened #40 "NetflowV9: Kafka server message too large"
I'm running the 0.4.1 vFlow docker image and pushing to a Kafka instance within the same docker network that was created using docker-compose. I can run fine under very low throughput but when I attempt to increase it (using the exact same netflow message) I run into the issue that vFlow fails to push to Kafka because the message was too large.

TLDR: I believe I'm running into this issue: https:/

[2017-11-30 22:55] JPercivall commented on #40
Rolling back to Kafka version 0.10.2.1 appears to work. Which is in line with the suggested root problem.

Relevant updated docker-compose file:
[code]

[2017-11-30 23:54] #38 closed

[2017-12-01 00:19] mehrdadrad commented on #40
@JPercivall thanks for looking at this issue. pls create a PR to add MaxRequestSize to the kafka config.

[2017-12-01 18:39] mmlb commented on #38
@mehrdadrad can you expand on why you think it is not necessary? If build vflow today I have no guarantees that when I go to build it next month that it will build again. Both sarama-cluster and gopkg.in/yaml are at major version 2 which is evidence of this happening once before and possible in the future.

[2017-12-02 00:54] tim-hutchinson opened #41 "IPFIX: Interpret Type Conversions Unsafe?"
While debugging an interpret error related to #30, I noticed that the `Interpret` [function](https://github.com/VerizonDigital/vflow/blob/master/ipfix/interpret.go#L67) returns have different behavior than I would have expected:

1) Why create another value after converting the byte array to `Uint64`? i.e. why not  `return binary.BigEndian.Uint64(*b)` I'm new to Go, so this may make complete sense

[2017-12-03 05:32] jgc234 opened #42 "netflow v9 some templates not being parsed - Multiple errors: can not read the data"
I'm having trouble with some v9 templates not being parsed from a Juniper SRX.. Some are, and some aren't.. As an example below - template id# 261 seems to fail to be defined, even though its definition gets transmitted 60 seconds by the sending router.   First some background:

- sending device -  SRX210HE JUNOS Software Release [12.1X46-D67]
- receiving devices (similar results from both)
  - sm

[2017-12-03 11:48] jgc234 opened #43 "ipfix multicast join - setsockopt: invalid argument"
This one has been plaguing me for a while.  On both Solaris (joyent) and MacOSX (high sierra), vflow fails to start unless you disable ipfix.  It works fine on Linux.  The error message is just "setsockopt: invalid argument".

The particular setsockopt is a MCAST_JOIN_GROUP called in ipfix/memcache_rpc.go:Discovery.mConn() at the JoinGroup()..

After a bit of fiddling, I reckon it's related to the

[2017-12-05 06:05] JPercivall commented on #40
@mehrdadrad, not a problem, thank you for open-sourcing vFlow.

I'm on travel this week but should have a PR up by next week. Will be my first time contributing in GO so please feel free to offer any constructive criticism in the review.

[2017-12-06 00:19] jgc234 commented on #42
I think I've worked this one out..   The detector for padding between flowsets broken in decodeSet().  It failed to detect the padding, got out-of-sync and started parsing the padding as the next record.  .. Once it started eating rubbish, the promotion to an unsigned was wrapping and trying to parse 65K of data (uint16(-1)) ..  Currently:

[code]

The "d.reader.Len() > 4" would detect the total b

[2017-12-06 01:09] jgc234 commented on #42
Actuallly.. there is a bit of code further down that detects the padding, but it does so by entering the loop again and peeking at the data - if there's zeros there, it bails out..  (rather than checking the current offset position in the FlowSet).. and it only does this for FlowSetID of 0 or 1 (ie templates, not data).

In the packet above, FlowSetID 256 (data) has padding, so it won't get caught

[2017-12-06 11:51] jgc234 commented on #42
[code]

[2017-12-06 16:40] mehrdadrad commented on #42
@jgc234 thank you for looking at this issue. I tried netflow during development by nprobe as I don't have any netflow device. I can work on this issue next week.

[2017-12-06 16:54] mehrdadrad commented on #40
@JPercivall Excellent! no rush, happy to see your first contributing in Go is vFlow, Congrats!

[2017-12-08 06:21] jgc234 commented on #42
@mehrdadrad happy to help.. you could spin up a router in a VM (Juniper vSRX or Cisco CSR100v).  or replay some captured packets from someone else.  I haven't read the IPFIX to see how it'd different from V9.. I'm unsure if the same padding problem could occur there to.

[2017-12-11 17:33] mehrdadrad commented on #42
@jgc234 can you send me a pcap including templates and samples to my email address: arshad.rad@gmail.com  ?

[2017-12-11 19:09] #42 closed

[2017-12-11 19:12] mehrdadrad commented on #42
@jgc234 pls try and see how it works w/ your SRX. it changed same as you mentioned.

[2017-12-11 20:35] mehrdadrad commented on #41
@tim-hutchinson the out of index comes from binary.BigEndian.Uint64. the root cause of this issue related to the DateTmeSeconds which it has 4 bytes but the interpret wants to convert to Uint64 through binary.BigEndian.Uint64. the DateTimeSeconds needs to interpret by binary.BigEndian.Uint32 instead. I'll commit this fix soon.
[code]

[2017-12-11 20:53] mehrdadrad commented on #30
@naude-r the issue just fixed. if you get a chance to try again please let me know

[2017-12-11 21:14] #41 closed

[2017-12-11 21:14] #37 closed

[2017-12-11 21:15] mehrdadrad commented on #29
@jan-zajic I think it should be fixed based on the recent changes, pls try again and let me know if you still see this issue.

[2017-12-11 21:15] #29 closed

[2017-12-12 06:21] jgc234 commented on #42
@mehrdadrad - tested and works fine for the last few hours using an SRX with netflow v9 IPv4 only..  removed netflowv9.tempaltes cache file to force correct parsing of transmitted template definitions.

[2017-12-12 08:33] naude-r commented on #30
@mehrdadrad Thank you. Will try again.

[2017-12-19 02:41] JPercivall opened #45 "Stdout and Stderr are lost when running in a docker container"

[2017-12-19 02:41] JPercivall commented on #45
Whops, accidentally hit enter. Will add details

[2017-12-19 02:54] JPercivall commented on #40
PR up here: https://github.com/VerizonDigital/vflow/pull/44

[2018-01-02 22:39] #40 closed

[2018-01-27 16:34] ashuw018 opened #48 "Documentaion - Documentation needed for using InfluxDB as Backend and settign vFlow on windows"
Hi,

is there any good documentation following which one can easily setup the required configurations to use sFlow on windows with influxdb as backend.

Thanks,
Ashwin

[2018-01-31 15:55] gedOHub opened #49 "vflow with JunOS and netflow"
Hello,

We are facing problem parsing netflow flow from Juniper MX960 running JunOS 13.3R9.13
Error:

vFlow runs on CentOS 7.4 3.10.0-693.17.1.el7.x86_64.
vFlow 0.4.1 was installed from package by https://github.com/VerizonDigital/vflow/blob/master/docs/quick_start_kafka.md

vFlow configuration left default:
`
ipfix-workers: 100
sflow-workers: 100
netflow9-workers: 50
log-file: /var/log/vflow.log

[2018-01-31 21:07] mehrdadrad commented on #49
@gedOHub
I think it should be fixed at v0.5.0 can you compile the latest version? I'll try to upload the RPM and Debian package soon.

[2018-01-31 21:09] gedOHub commented on #49
@mehrdadrad Thank you for response. I update you after I try it

[2018-01-31 21:26] mehrdadrad commented on #48
I think you don't need any specific doc for windows. you can compile the latest version on your Windows server and run a messaging queue like NSQ. the configuration is same as other platform. please note the Influxdb backend uses for monitoring vFlow functionality through Grafana not real flow!

[2018-02-01 08:57] gedOHub commented on #49
@mehrdadrad Version 0.5.0 was able to parse netflow flow. Thank you for quick responce

[2018-02-01 08:57] #49 closed

[2018-02-01 17:16] mehrdadrad commented on #49
Great! thanks for update!

[2018-02-21 21:30] JPercivall opened #51 "Align the dockerfile with best practices"
There are a number of improvements that could be done to the Dockerfile to better align it with best practices.

- Don't use supervisord and instead allow the user to utilize the docker restart policy
- Container should not stay alive when the vflow process ends
- Logs should be output as part of the docker logs
- Use a multistage build to reduce the size of the final image
- Use the official Gola

[2018-02-21 21:31] JPercivall commented on #51
Will follow-up with a PR

[2018-02-21 21:49] JPercivall commented on #51
PR here: https://github.com/VerizonDigital/vflow/pull/52

[2018-02-22 09:31] AlexAkulov opened #53 "vflow don't work with sFlow from Cisco Nexus 3000"
Hello!

I'm trying to collect sFlow from Cisco Nexus 3000 and it's doesn't work.
vflow received packages, it can be seen in verbose log, but queue is empty.
[code]
I added debug log and found that processing packages stop here
https://github.com/VerizonDigital/vflow/blob/master/sflow/decoder.go#L137-L139
In my case `datagram.Version = 1` but my Cisco Nexus 3000 exactly sends sFlow v5.

I tried to

[2018-02-22 17:21] mehrdadrad commented on #53
@AlexAkulov no idea why version assigns w/ one as pcap shows it sends five but the main issue that I'm seeing at pcap is sample flow data type is 3 (ipv4 data) and vFlow supports "raw packet header"

[2018-03-19 12:03] gedOHub opened #54 "Choosing right back end"
Hello,

I and my company are testing `vFlow` for few weeks. For now we have about `45K` inserts per second and we using MySQL back end and we struggling for performance.

- Have you done any back end storage performance comparison?
- Can you share with best practices choosing back end storage?
- What back end storage you are using?

[2018-03-21 17:08] mehrdadrad commented on #54
@gedOHub
please check the clickhouse and others at https://github.com/VerizonDigital/vflow/tree/master/consumers
I suggest you to have aggregation level then store somewhere for high and low resolution. I had good experience w/ clickhouse! but you can try OpenTSDB/HBase/HDFS

[2018-03-22 17:10] #54 closed

[2018-03-22 17:10] #53 closed

[2018-04-25 16:54] jackpgao opened #55 "Can not decode sflow data"
- I build with the git master branch

### run command

[code]

### vflow.conf
[code]

### mq.conf
[code]

### output log
[code]

### monitor
[code]

### tcpdump of sflow sending
[code]

### Problem
- No one sflow msg was decoded, and I cann't tell the reason.

[2018-04-26 16:53] mehrdadrad commented on #55
@jackpgao can you increase workers at least to 2?

[2018-04-27 02:08] jackpgao commented on #55
@mehrdadrad  At first, the workers number is 200, it doesn't decode either, so I decrease it to only 1

[2018-04-30 21:04] mehrdadrad commented on #55
looks the issue is related to your layer two switch device that it sends counters not raw packet!

[2018-04-30 21:04] #55 closed

[2018-05-02 02:45] jackpgao commented on #55
Actually, it indeed sends the raw packet, cause I use [sflowtrend](https://inmon.com/products/sFlowTrend.php), it works.

[2018-05-02 17:06] mehrdadrad commented on #55
@jackpgao can you send me a pcap?

[2018-05-03 07:33] AlexAkulov commented on #55
I have the same issue with my Cisco Nexus 3000.
This is a bug in sFlow, other collectors work fine.

[2018-05-04 18:01] mehrdadrad commented on #55
@AlexAkulov I need a pcap for debugging ...

[2018-05-08 20:06] gedOHub opened #56 "CRC error while pushing data to kafka"
Hello

I have used vFlow in production and notices that logs like

have appeared in vFlow logs. How I can determinate that issue is in kafka or in vFlow side?

I'm running:

[2018-05-25 13:41] afressancourt opened #58 "vFlow failing to publish topic in Kafka: name unresolved"
Hello,

Using the containers indicated in the documentation to test vFlow, my colleague and I have encountered the following error:

`[vflow] 2018/05/25 13:15:42 kafka: Failed to produce message to topic vflow.sflow: dial tcp: lookup <containerID> on <IPGateway>:53: no such host`

This is occurring even if the IP address of the target Kafka is given in the flow.conf file and in the VFLOW_KAFKA_BRO

[2018-05-31 10:38] nuclearcat commented on #36
Happened with me as well, culprit is in
2018/05/31 10:27:22 memcache_rpc.go:144: operation not supported
Line: disc, err := vFlowDiscovery()
Everything works if i put in config:
ipfix-rpc-enabled: false

btw it might be handy to add in options.go, GetOptions() this:
`	if opts.Verbose == true {
		log.SetFlags(log.LstdFlags | log.Lshortfile)
	}
`

[2018-05-31 17:37] mehrdadrad commented on #58
@afressancourt pls send me the configuration

[2018-06-21 19:04] r4ravi2008 opened #60 "Ipfix data samples with custom PENS"
How will the data look like when decoding Information element(IE)s that belong to a custom PEN?

A simple tuple of I, V wouldn't suffice as its quite likely that an IE can belong to a custom PEN with same IE id.

For example when decoding custom IEs tuple can be I, V, E where I is IE id, V is the value and E is the enterprise number, I belongs to.

Reference: https://tools.ietf.org/html/rfc7011#se

[2018-06-21 19:36] #58 closed

[2018-06-26 05:41] hhtlxhhxy commented on #55
Hello,I had the same problem,how did you solve it?

[2018-06-29 09:05] azsultan2010 opened #61 "netflow v9: can not read the data"
Hi mehrdadrad!

Cisco Catalyst 6509-E streams netflow v9 to vflow.
On some flows it writes to log: cannot read the data. After some time (may pass 1 hr or 1 day) vflow crahes.
Config , log and pcap dump attached.

Thanks!

WBR
Sultan
[vflow.zip](https://github.com/VerizonDigital/vflow/files/2148640/vflow.zip)

[2018-06-29 17:51] mehrdadrad commented on #61
Hi @azsultan2010 pls let me know vFlow version and OS? can you attach vflow config?

[2018-07-02 05:11] azsultan2010 commented on #61
Hi Mehrdadrad,

I beg Your pardon for delay.

Debain stretch (9.4) x86-64

vflow from deb package:
https://github.com/VerizonDigital/vflow/releases/download/v0.4.1/vflow-0.4.1-amd64.deb

confs:
/etc/vflow/vflow.conf
dynamic-workers: false
netflow9-workers: 50
verbose: true
log-file: /var/log/vflow.log
ipfix-enables: false
sflow-enables: false
netflow9-enabled: true
netflow9-port: 4729
netflow-tpl-

[2018-07-09 16:11] mehrdadrad commented on #61
@azsultan2010 the issue fixed at v0.5.0

[2018-07-09 16:11] #61 closed

[2018-07-09 16:39] mehrdadrad commented on #56
@gedOHub I couldn't duplicate this issue.

[2018-07-15 08:18] parmenides opened #63 "Monitoring with influxdb"
How can i use Grafana and InfluxDb for monitoring vflow? I could not find any documentation for enabling monitoring.
I am running vflow and influxdb on a separate dockers.

[2018-07-16 21:50] HBLiB opened #64 "sflow GATEWAY extention"
Hi,
I did not see any reference to extensions and specifically to the gateway extension for BGP attributes.
Are these supported and if not could this be added?

[2018-07-16 23:21] mehrdadrad commented on #63
@parmenides pls check this:
https://github.com/VerizonDigital/vflow/tree/master/monitor
vFlow exposes metrics through API and there is a sample monitoring collector under /monitor.

[2018-07-16 23:21] #63 closed

[2018-07-19 09:39] gedOHub commented on #56
Problem didn't come back again. Closing issue for now

[2018-07-19 09:39] #56 closed

[2018-07-19 18:06] mehrdadrad commented on #51
Thanks @JPercivall , It just merged

[2018-07-19 18:06] #51 closed

[2018-07-21 12:30] gedOHub opened #65 "Error: invalid netflow version (10)"
When trying to run stress test for vflow getting errors like:

[code]

No traffic was parsed and send to kafka cluster.
vflow and strees builded from `v0.5.0` version.

OS: ubuntu 18.04
Java: openjdk version "10.0.1" 2018-04-17
go version: go version go1.10.3 linux/amd64

[2018-07-23 16:54] mehrdadrad commented on #65
@gedOHub The stress test doesn't support netflow; it looks you send ipfix stress data to netflow port per error message.

[2018-07-23 17:56] mehrdadrad commented on #64
@HBLiB it doesn't support but nice to have gateway data and router data. I'll keep this open as enhancement.

[2018-07-23 17:56] #65 closed

[2018-08-04 23:07] #36 closed

[2018-08-12 13:10] jgc234 opened #66 "why do octetDeltaCount and packetDeltaCount show up as hex strings in Netflow v9 and integers in IPFIX?"
More of a questions than issue.. In the JSON output for Netflow v9, the fields for octetDeltaCount(1) and packetDeltaCount(2) show up as hex strings, whereas in IPFIX they're integers.   Is this supposed to be the case?

The marhsal code for v9 uses the same element definitions from ipfix/rfc5102_model.go .. or is it related to how the template defines these values (the RFC says they're nominal le

[2018-08-26 09:21] hujiayao opened #67 "Crash when started with a lot netflow/ipfix traffic being received"
panic: runtime error: index out of range

goroutine 143 [running]:
github.com/VerizonDigital/vflow/ipfix.MemCache.getShard(0x0, 0x0, 0x0, 0x100, 0xc42095600c, 0x10, 0x10, 0x0, 0x0)
	/home/xxx/go/src/github.com/VerizonDigital/vflow/ipfix/memcache.go:91 +0x186
github.com/VerizonDigital/vflow/ipfix.MemCache.retrieve(0x0, 0x0, 0x0, 0x100, 0xc42095600c, 0x10, 0x10, 0x0, 0x0, 0x0, ...)
	/home/xxx/go/src

[2018-08-26 09:35] hujiayao commented on #67
mCache = ipfix.GetCache(opts.IPFIXTplCacheFile)
and mCacheNF9 = netflow9.GetCache(opts.NetflowV9TplCacheFile)
should be excuted before the workers are started.

[2018-08-27 19:59] mehrdadrad commented on #67
It does, the log shows the shard calculated out of range! the vFlow already is under heavy load in the prod but I haven't seen this. I'll try to duplicate this issue.

[2018-08-27 20:09] hujiayao commented on #67
It can be consistently reproduced by using the stress test tools provided in the project.

[2018-08-28 20:32] gsakel1 opened #68 "IPFIX/Netflow Definitions"
Is there a way to add IPFIX and Netflow definitions like so: https://github.com/robcowart/elastiflow/tree/master/logstash/elastiflow/definitions

to the JSON decoder instead of the IANA IPFIX element ID's?

[2018-08-30 18:33] mehrdadrad commented on #60
I just added the PEN and it will appear as "E": x if it's not zero/IANA
I'll try to test it soon but let me know if you get a chance to try it.

[2018-08-30 18:33] #60 closed

[2018-08-30 18:34] mehrdadrad commented on #68
The IPFIX added and I'll try to add same for Netflow, thanks for your suggestion!

[2018-08-30 18:34] #68 closed

[2018-08-30 20:02] r4ravi2008 opened #69 "Add HDFS Support and RFC 5655"
- Ability to write Vflow json data directly to HDFS.
- Ability to write capture and store IPfix messages in RFC 5655 file format(https://tools.ietf.org/html/rfc5655).

What do you think about adding these new features? Do you think these features are within the context and scope of this repo? I may be able to contribute on this front.

[2018-08-30 20:49] gsakel1 commented on #68
Thank you! Will you update the rpm package to include these changes?

[2018-08-30 22:30] mehrdadrad commented on #68
I'll create the new RPM for next release, you can create the RPM easy if you already have GO

[2018-08-30 22:39] mehrdadrad commented on #69
I like both and I think they should be developed under vflow/consumers
Already we have clickhouse, memsql and spark sample consumers.
Any help would be appreciated

[2018-09-01 16:54] mehrdadrad commented on #67
still i couldn't , pls let me know Go version and what OS?

[2018-09-05 13:29] gsakel1 opened #70 "RAW IPFIX/Netflow to Kafka"
I think sending RAW IPFIX/Netflow data to Kafka would be extremely beneficial instead of decoding it to JSON. Is this possible?

[2018-09-06 00:09] mehrdadrad commented on #70
can you let me know a use case?

[2018-09-06 13:09] gsakel1 commented on #70
To be injested by Logstash using the "netflow" codec. Right now, that codec in logstash won't read the vflow decoded ipfix/netflow because it is technically json format. Also, I believe that data going to Kafka should stay raw for consumers to have the original, un-altered data set. But this could be an option added in the vflow config. Not  recommending to change the code, just to have as an opti

[2018-09-06 13:12] gsakel1 commented on #68
For this to work, all you have to do is add the ipfix.elements file to the /etc/vflow/ directory?

[2018-09-06 19:30] mehrdadrad commented on #68
correct and compile w/ the latest version

[2018-09-17 08:55] avimas opened #71 "Ipfix from Vmware"
I have a Vmware is configured to send IPFIX flows to vflow server (installed on a Centos using the latest RPM version: 0.6.5), but no flows are sent to the MQ,

I can see the following errors in Vflow log:

- IPFIX element key (890) not exist
- IPFIX element key (890) not exist
[vflow] 2018/09/17 11:47:17 IPFIX element key (890) not exist
[vflow] 2018/09/17 11:47:17 Multiple errors:
- IPFIX elemen

[2018-09-19 08:09] hepeng235767 opened #72 "parse bytes error in netflow v9 collector"
hello:
    I've experimented on cisco router (2911) with netflow v9 configuration , all goes well , but found option template cache value error ,  shown below:
{
            "Templates":{
                "1043037042":{
                    "Template":{
                        "TemplateID":259,
                        "FieldCount":0,
                        "FieldSpecifiers":[

[2018-09-19 16:13] avimas commented on #71
Probably adding the elements specified in

https://docs.vmware.com/en/VMware-NSX-for-vSphere/6.4/com.vmware.nsx.admin.doc/GUID-40805D0E-8A97-4011-B85C-CBF37812DBB5.html
To the new ipfix.elements file
Will fix the issue I’ll give it a try.

[2018-09-19 21:55] mehrdadrad commented on #71
Yes pls add it to ipfix.elements and restart the vflow

[2018-09-20 14:37] avimas commented on #71
So I added the elements to the ipfix.elements  file and I started to get the this error
"[vflow] 2018/09/20 15:01:03 IPFIX element key (210) not exist", which is strange as 210 is a known element also defined in the ipfix.elements file.
After some debugging I noticed element 210 is always sent after an element which its PEN is set,
and the function func (tr *TemplateRecord) unmarshal(r *reader.Rea

[2018-10-15 22:32] zaxeqaz opened #73 "Broker not available"
Hello,

I'm trying to get a new vflow server setup (cisco 4500 > ipfix > vflow > kafka > clickhouse). I think I'm having trouble reaching the kafka broker, but am not sure. Any help would be much apprecited.

error
![image](https://user-images.githubusercontent.com/43657922/46981933-2daccc00-d08f-11e8-9146-b17a3c5e491f.png)

vflow.config
![image](https://user-images.githubusercontent.com/43657922/

[2018-10-19 13:28] leoluk commented on #73
This looks like an issue with your Kafka setup, not vflow. Try to send messages to the topic using kafka-console-producer.sh and see if that works.

[2018-10-29 09:19] alexeigr opened #74 "Netflow element key (X) not exist"
Hello,

Following issue #71 - any flow with a private element is not handled at all and logs the error (which also inflates eventually).
Instead, @avimas and I suggest to append the field using the size from the template record and some default type ("octetArray").
The fix was tested on several devices and showed great results:

in ipfix/decoder.go, line 495:
Replace:
[code]
With:
[code]

and the

[2018-11-07 03:43] eksantrik opened #76 "Kafka consumer for Netflow v9"
Does anyone know any open-source Kafka consumer to consume netflow v9 topic from vflow and write it into postgresql?

Thanks,

[2018-11-07 09:33] Sonique opened #77 "Vflow stress doesn't works on mac"
Follow tutorial, but could not get anything from stress utility.

[2018-11-08 00:52] mehrdadrad commented on #77
The vFlow works under Linux and MS Windows (except IPFIX packet replication feature)

[2018-11-08 00:52] #77 closed

[2018-11-08 00:58] mehrdadrad commented on #76
check the below ipfix consumer
https://github.com/VerizonDigital/vflow/blob/master/consumers/cli/main.go
and go pq driver github.com/lib/pq
https://astaxie.gitbooks.io/build-web-application-with-golang/en/05.4.html

[2018-11-08 09:20] Sonique commented on #77
Ok, doesn't seen it in documentation.

[2018-11-19 22:24] eksantrik opened #78 "PF_RING support"
Does vFlow support PF_RING? If not, is there any plan to support it?

Thanks,

[2018-11-19 22:32] mehrdadrad commented on #78
It doesn't support and there isn't any plan.

[2018-11-22 14:14] eksantrik opened #79 "Hardware specifications and capacity requirements"
We tried a few commercial solutions but due to their limitations, we decided to build our own Netflow solution with vFlow. We will be using vFlow as part of an architecture for an enterprise environment. Question is that if there has been any study on vFlow's capacity for different hardware specifications. What kind of flow/second can we expect from vFlow?

Does anyone have any numbers on this?

T

[2018-11-25 21:31] #78 closed

[2018-11-25 21:32] #76 closed

[2018-11-25 21:32] #73 closed

[2018-11-26 12:53] leoluk commented on #79
You

[2018-11-26 21:47] eksantrik commented on #79
The goal is to process 50K/sec on a single instance. What kind of hardware specs do you think we would need to process such data?

[2018-11-27 23:11] mehrdadrad commented on #79
@eksantrik
One of my collector specification is PowerEdge R620 Intel Xeon E5-2620 2.00GHz, 15 M Cache, 7.2GT/s QPI, Turbo, 6 C, 95W, Max Mem 1333MHz, 64G RAM, Ubuntu. it has 22K sflow UDP packet per seconds load (multi samples) + 3K IPFIX. it means between 25K samples to 125K samples per seconds.
The sar shows 55% CPU idle + 1.5G RAM used

[2018-11-29 13:28] mohamadrezarostami opened #80 "Error in parse strings with variable length"
According to RFC7011 Section 6.1.6, "The string is sent as an array of zero or more octets using Information Element fixed or variable length." we can have a variable length "In the Template Set, the Information Element Field Length is as 65535.  This reserved length value notifies the that the value of the Information Element will be carried the Information Element content itself." but this is no

[2018-11-30 13:38] glowa001 opened #83 "problem with decoding the Scope Fields"
I noticed a problem with decoding the Scope Fields used by Juniper MX960 in the IPFIX protocol (probably the problem also affects all other Juniper IPFIX exporters).

The problem is to change the order of decoding fields of Data Set related to Options Templates. Scope Fields should be decoded in the first place but they are decoded at the end of the data set.

Below I show the Options Template and

[2018-12-03 21:46] mehrdadrad commented on #83
@glowa001 good catch, it just merged! thank you!

[2018-12-03 21:46] #83 closed

[2018-12-04 11:00] pforemski commented on #80
Agreed, found this after 1h of debugging. Had to trace the ambiguous 'ipfix.go:232: "can not read the data"' error message to actually arrive at ipfix/decoder.go Decoder.decodeData()'s first loop - which is the source of this error message.

This is so disappointing that vFlow actually does not implement IPFIX - but rather a subset of the RFC.

[2018-12-04 17:41] mehrdadrad commented on #80
@mohamadrezarostami thanks for catching this! pls resolve the conflict
BTW our routers send fix len for string/octets

[2018-12-05 03:45] huaconghub opened #84 "Raw Socket Configuration not work"
mq-name just for kafka, nsq or nats
how to sent message over tcp or udp, it's not work by config nats
![image](https://user-images.githubusercontent.com/5009732/49488810-3b0e5780-f883-11e8-914c-3535a120b6e4.png)

[2018-12-05 18:52] mehrdadrad commented on #84
the doc fixed. the rawSocket added

[2018-12-06 08:21] fatwookie opened #86 "Support for decoded Netflow and IPfix"
I've got a feature request for vflow. It would be very convenient if the Netflow and IPfix could be configured to output decoded named IANA elements. Sort of like the sFlow module currently does. This way the JSON output could be ingested into a logstash shipper (through an MQ).

[2018-12-07 04:39] #67 closed

[2018-12-07 12:43] huaconghub opened #87 "sfTypeFormat is invalid type"
my sflow data decoded fail, I found when execute function getSampleInfo, sflow/decoder.go:194, the sfType is 3, not const DataFlowSample and DataCounterSample , it seem sfType always 3, and I dont know why,
I checked my device sflow version is 5, and raw header is L2/L3/L4,
do you know what might go wrong? thx

a sample sflow data:
[code]

[2018-12-08 02:49] mehrdadrad commented on #72
@hepeng235767 sorry for late response. I just fixed an issue at netflow9, I think it should be fixed too. could you please try again and let me know. thanks!

[2018-12-08 03:11] huaconghub commented on #87
vflow 0.6.5
I git clone from master branch

[2018-12-08 03:20] mehrdadrad commented on #87
interesting, can you let me know the Go version, OS and arch?

[2018-12-08 04:11] huaconghub commented on #84
still fail, so weird
![image](https://user-images.githubusercontent.com/5009732/49681780-4d3a0100-fae2-11e8-989b-c86c60283520.png)

[2018-12-08 04:15] mehrdadrad commented on #87
- add more logging after line 188 at vflow/sflow.go
[code]
- run the vflow in the vebose mode and send here the log file and console logs

[2018-12-08 06:10] huaconghub commented on #87
nil

I add a log on verbose mode, error is nil
![image](https://user-images.githubusercontent.com/5009732/49682664-10c2d100-faf3-11e8-863f-96572c054269.png)
[code]

[2018-12-08 07:31] huaconghub commented on #87
I found this tool can precisely decode my sflow data,  https://github.com/sflow/sflowtool

[2018-12-08 17:14] mehrdadrad commented on #87
the vflow parses v5 as the error is nil but the records is 0

[2018-12-09 23:15] mehrdadrad commented on #80
@mohamadrezarostami I merged a [bug fix](https://github.com/VerizonDigital/vflow/commit/819155ee6a9ac9abe25a54bc6aa7a245fe1b0270) right after you changed the decodeData, pls first update your repo then add getDataLength feature to the decodeData. thanks!

[2018-12-10 02:06] huaconghub commented on #87
Sample Data:
[code]

[2018-12-10 05:47] mehrdadrad commented on #87
everything looks good, I think it decodes and you need to consume them from vFlow. what's your messaging queue? can you send me the below log in verbose mode and messaging queue configuration?
/var/log/vflow.log
/etc/vflow/mq.conf

[2018-12-10 06:48] huaconghub commented on #87
I check the log many times, unfortunately, no helpful info, just:
[code]
mq is kafka, config file only kafka brokers, and netflow send msg succuess, so mq is fine;
I try to turn mq to rawSocket，

[2018-12-11 01:59] lwsbox opened #88 "why use formatInt to format uint"
i want to know that why use formatInt to format uint?   thanks .

[code]

[2018-12-11 02:01] lwsbox commented on #66
puzzled too

[2018-12-11 02:48] lwsbox commented on #66
In interpret.go, the octetDeltaCount is 4 bytes which is less than t.minLen(), so set this filed with []uint8.
after changing the unsigned64 to unsigned32[maybe in, the filed do not show up as hex strings.

 logstash-netflow plugin use two template config to distinguish netflow V9 and ipfix, maybe vflow should use two model.go too?
[code]

[2018-12-11 20:23] mehrdadrad commented on #88
@lwsbox It's kind of bug and it impacts the uint64 case once the value becomes more than 9,223,372,036,854,775,807
I'll take care of this. thanks!

[2018-12-11 22:10] #88 closed

[2018-12-12 02:18] mehrdadrad commented on #87
once you ran the vflow for a while, pls send me the below:
curl localhost:8081/flow | json_xs

[2018-12-12 08:33] lwsbox opened #90 "Use the length as specified by the template instead of the ipfix.elements"
I modify the ipfix.elements for netflow, one definition as follow:
  10:
  - unsigned16
  - input_snmp

Definition in RFC 3954:
                                           Input interface index.
   INPUT_SNMP                   10   N     By default N is 2, but
                                           **higher values can be used**

After test, i found that the input_snmp is 0 (should be 3).
After

[2018-12-12 18:20] mohamadrezarostami commented on #80
@mehrdadrad I fix it.

[2018-12-13 19:54] #80 closed

[2018-12-14 02:33] huaconghub commented on #87
device:  H3C-S6800-54QF

[2018-12-18 05:03] niau opened #91 "vflow 0.70 crash out of memory"
So we have tried the latest release with some variable length flows from ALU router.
In our case we have an integration towards kafka.

Attached are

[vflow.log](https://github.com/VerizonDigital/vflow/files/2688952/vflow.log)
[crash_output.log](https://github.com/VerizonDigital/vflow/files/2688954/crash_output.log)
[ipfix.elements.txt](https://github.com/VerizonDigital/vflow/files/2688956/ipfix.e

[2018-12-18 07:02] mehrdadrad commented on #91
@niau can you send me the router config (flow configuration)?

[2018-12-19 03:13] niau commented on #91
@mehrdadrad  I don't have that. Just the capture. I placed it so that you to be able to reply it and verify the crash.

[2018-12-27 17:57] taq commented on #63
@mehrdadrad , what is that `monitor` command on crontab? I searched for an executable called `monitor` but couldn't find it after installing vflow on Ubuntu.

[2018-12-27 20:40] mehrdadrad commented on #63
@taq it collects the vFlow internal metrics (for examples ipfix/sflow/netflow udp packet per seconds or memory heap allocation) and it ingests them to influxdb or tsdb
https://github.com/VerizonDigital/vflow/tree/master/monitor

[2018-12-28 19:47] taq commented on #63
Thanks! :-)

[2018-12-29 15:46] mohamadrezarostami opened #92 "How could collect data on tcp socket?"
How could collect IPFIX data on TCP socket?

[2019-01-06 09:36] avimas opened #94 "IPFIX/V9 templates are not cached correctly causing to data corruption/wrong parsing/memory leaks/infinite loops."
Currently V9 and IPFIX templates are cached using template id and exporter address as a key.
Rfc3954 implies that  v9 templates should be cached using the following fields:

msg header Source ID
exporter source IP
Template id

As stated below:

Source ID:
A 32-bit value that identifies the Exporter Observation Domain.
NetFlow Collectors SHOULD use the combination of the source IP
address and the S

[2019-01-08 19:13] dev-mull commented on #86
I second this.

[2019-01-14 18:53] darix opened #95 "Option to run without kafka?"
we would be interested in feeding the data into influxdb, or does this have to go through kafka?

[2019-01-14 20:17] mehrdadrad commented on #95
@darix it supports kafka/nsq/nat also you can create your plugin to ingest them to the influxdb directly.
I suggest you to consume them from one of the supported MQ then ingest them to the influxdb.

[2019-01-15 18:55] #95 closed

[2019-01-29 13:36] fredriklin commented on #94
Hello,

I'm seeing this issue as well with IPFIX data from a Nokia device. The symptoms are the same, empty sets being produced and and the process goes into an infinite loop until the it crashes because of running out of memory.

I can provide PCAPs if needed, however from looking at the ones provided above I'm certain I'm seeing the same issue.

[2019-02-06 13:54] glowa001 opened #97 "IPFIX OOM"
OOM in decodeSet()

Correct IPFIX packet generated by pmacct makes infinite loop in decodeSet() and as a result goes out of memory by appending empty data []DecodedField to msg.DataSets.

Below IPFIX packet correctly decoded by wireshark and templates:
[FLOWS]
[code]

[TEMPLATES]
[code]

You can try it yourself using my sample code:
[code]

[Output after few seconds]
[code]

In my investigation i

[2019-03-05 19:13] eksantrik opened #99 "How is the template cache file handled for NetflowV9?"
I just need some clarification on a couple of items:
- How come there are no "flowset ID" and "length" fields in the template cache file? (Ref: https://www.ibm.com/support/knowledgecenter/en/SSCVHB_1.2.1/collector/cnpi_collector_template_flowset.html)
- Is there any limitation on the amount of templates that vflow keeps in the cache file at any given time?
- Are the specific templates updated when

[2019-03-13 16:57] chrispassas commented on #63
Is there an a grafana dashboard we can download as a starting point?

[2019-03-21 11:24] eksantrik opened #101 "Information element data format"
We noticed that some fields for Netflow v9 in Kafka topic are reported as hex. Is there any post processing of data with vflow before pushing it to the Kafka topic or this is how is reported by Netflowv9?

Where can we find a list of fields that are reported in Hex with Netflowv9?

Thanks,

[2019-03-21 13:29] eksantrik commented on #66
Hello folks,

We are trying to determine what fields in Netflow v9 are reported in Hex. Do you know of a resource on the internet that gives the exact field types for Netflow v9?

Thanks

[2019-03-21 14:04] sgnsys3 opened #102 "Field name for Netflow 9?"
I have read example of decoded netflow 9 data. Why not map field name with value?
eg.
`{"IPv4": "10.10.10.10"}`
instead
`{"I": "8", V:"10.10.10.10", }`
It have another way to map value? Please advice me.

[2019-03-25 20:30] chrispassas commented on #94
For what its worth we are also seeing the same issue.

[2019-03-26 09:34] avimas commented on #94
The issue is fixed in https://github.com/alexeigr/vflow it also contains fixes to other related security bugs.
As I wrote in the case description I am not sure it's not affecting the memcache_rpc.go.

In my environment it works perfectly using many different exporters vendors.
Please test it.

[2019-03-28 12:42] glowa001 commented on #94
Why don't you make a poll request instead of link to your own repository with the master as the only branch with a fix, that mixes with others and is split into several commits?

[2019-03-28 12:47] avimas commented on #94
This fix might break the rpc template mechanism which I don't use in my environment, and don't have the time to check.
I consulted the author but didn't got any answer regarding this.

[2019-03-28 12:51] chrispassas commented on #94
@avimas @glowa001 I've created a pull request here https://github.com/VerizonDigital/vflow/pull/103

I took the good work from @avimas and applied it to both V9 and IPFix.

I had a similar issue in my environment and confirmed this fixed our issue.

[2019-04-30 05:28] meatlayer commented on #55
Hi! Dump with cisco nexus 3000 in attachment.
The dump will be available within a month for obvious reasons. Password: vflow
Thanks for help!

`tcpdump -i ens3 host x.x.x.x and not src port 22 and not dst port 22 and dst port 6343 -ttnnvvv -w dump-nexus3000.pcap`

[source.pcap](https://filebin.net/3hbrg1ft52ujnuhy/dump-nexus3000.zip?t=0yoou5be)

[2019-05-01 23:40] eksantrik opened #105 "Cannot start vflow at boot"
Hello folks:

I am trying to start vflow at system boot time after kafka service starts and trying to do this with systemd. Has anyone been successful doing this?

Following is my unit file:

**[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/rc.d/init.d/vflow
Description=SYSV: vFlow enterprise IPFIX, sFlow v5 raw header collector and Kafka/NSQ producer
After=network-online.targe

[2019-05-07 20:48] eksantrik opened #106 "Netflow v5 is not starting"
Hi folks,

I installed vflow 0.7 from rpm. When I start the service, I can see that Netflowv9, IPFIX and Sflow start fine but there is no trace for Netflow v5 on port 9996. I cannot see any attempt in vflow.log either.

I did not configure anything specific in the conf file since the feature is supposed to be enabled by default.

What am I missing?

[2019-05-09 06:35] z3rohour opened #107 "Failed to produce message to topic : dial tcp 127.0.0.1:9092"
I'm trying to run vFlow in docker environment so I have confluent being set up and it works properly, but when I run vFlow it seems like it doesn't take into account configuration regarding kafka broker.
I run vFlow container as follows:
```docker run -d -v /opt/vflow/vflow.conf:/etc/vflow/vflow.conf -v /opt/vflow/mq.conf:/etc/vflow/mq.conf -p 5102:5102/udp -p 18081:8081 -e VFLOW_KAFKA_BROKERS="17

[2019-05-09 08:17] z3rohour commented on #106
I'd recommend to compile vFlow from the sources. It seems like rpm package hasn't been updated for a while as well as docker image from dockerhub

[2019-05-09 19:26] eksantrik commented on #106
thanks. I compiled from source and swapped the file with the one installed as part of rpm. Everything seems to be working fine.

[2019-05-09 19:26] #106 closed

[2019-05-14 05:17] GerryLon commented on #102
Same as above.

[2019-05-15 11:26] netixx opened #108 "Error while decoding json invalid character \x00"
In IPFIX and Netflow, additionnal kind of records named "options" exists, such as interface table, vrf table or sampler options. They are additionnal mapping (eg. vrf_index => vrf_name) that are usefull when storing flows.

The templates for those usually advertise (tested on Cisco ASR) large size for the fields (such as 64 for vrf name). But the actual value is of variable length.

This leads to

[2019-05-21 21:49] a759116 commented on #107
@z3rohour I'm also trying to make it work in docker environment. I've got Kafka running in docker container (docker run -d -p 2181:2181 -p 9092:9092 --env ADVERTISED_HOST=kafka --env ADVERTISED_PORT=9092 --name kafka -h kafka spotify/kafka). I've got Vflow running in docker (docker run -d -p 4739:4739 -p 6343:6343 -p 8081:8081 -e VFLOW_KAFKA_BROKERS="172.17.0.2:9092" -v /tmp/vflow/etc:/etc/vflow:r

[2019-05-22 06:05] z3rohour commented on #107
@a759116 i'm using nginx as loadbalancer on my physical host that sends UDP datagrams to localhost:5102. I was able to figure out what's wrong with my setup - I'm using confluent as kafka broker and for whatever reason it doesn't accept messages from another docker container in the same overlay network. I managed to run vFlow on my physical machine instead and it seems to be working

[2019-05-24 14:19] a759116 commented on #107
@z3rohour can you please share your nginx configuration(nginx.conf file)? For me, the nginx server (docker container) is not able to connect to my vflow server (docker container). Here is the extract from nginx server log

**When I use the IP address of vflow docker container (172.17.0.3)**

bash-3.2$ docker logs nginx
172.17.0.1 - - [24/May/2019:13:17:54 +0000] "GET / HTTP/1.1" 200 612 "-" "curl/

[2019-05-24 14:27] z3rohour commented on #107
Hello,

I’m away from my laptop for the next couple of days but it seems like you have nginx configured to act as HTTP proxy which doesn’t work for UDP netflow traffic. Here you can find an example of nginx configuration to balance UDP traffic - https://docs.nginx.com/nginx/admin-guide/load-balancer/tcp-udp-load-balancer/#upstream

I can share my config next week if something is unclear

Cheers,
E

[2019-05-24 14:54] a759116 commented on #107
@z3rohour Thanks for your quick response. I will take a look at the article and figure it out. In the mean time, I used netcat to generate UDP packets. However, vflow is not able to read the data. Here is the message "[vflow] 2019/05/24 14:52:19 can not read the data". This is what I did to generate the data

bash-3.2$ nc -vnzu 127.0.0.1 5102
found 0 associations
found 1 connections:
     1:	flags

[2019-06-02 18:55] eksantrik opened #109 "Kafka partition support with vflow"
Hello folks,

Does vflow support Kafka partitions? I did not see anything about that on vflow v0.7. Is it in the roadmap?

Thanks

[2019-06-12 21:20] #109 closed

[2019-06-19 13:21] vscoder opened #111 "Docker build error"
How to reproduce:
run command `docker build .`

Expected:
build successful

Result:
[code]

How to fix:
Update `Dockerfile` with
[code]
replace to
[code]

[2019-06-20 00:00] danielkim-z commented on #111
@vscoder We have confirmed the error and the fix. Thank you for reporting this issue!

[2019-06-20 00:02] #111 closed

[2019-06-28 12:15] meatlayer opened #113 "Support sflow Cisco Nexus"
Hey.
sflow data not decoded from the device [Cisco Nexus](https://blog.sflow.com/2012/08/cisco-adds-sflow-support.html)
Question. Planned to support devices in this series?

The same issues:
#55 #53

[2019-07-18 04:12] beckyxu opened #114 "Netflow v9 UNIXSecs decide by what"
I have machine receive Netflow v9 and have mechine consume ,somtines receive  UNIXSecs bigger than now time。so why？

[2019-07-24 23:04] danielkim-z commented on #113
Hello,

You have attached a pcap file in the issue #55. Is this the correct pcap for Cisco Nexus sflow issue? We will look into the issue if that is the correct pcap.

Thank you.

[2019-08-09 15:42] Koenie8 opened #115 "Support IPFIX with TLS/DTLS"
Is it possible with this collector to receive IPFIX packages over TCP with TLS or UDP with DTLS?
For the moment the IPFIX packages are all over UDP without encryption if I am correct.

[2019-08-09 15:49] glowa001 commented on #115
I think you can do it. What you have to do is pass received payload to ipfix.Decoder.

[2019-08-12 10:02] Koenie8 commented on #115
So I could just send IPFIX over TLS without adjustments in the code (since decoding is always done on the payload) And the provided stress test does not provided to send ipfix with TLS (only UDP possible)?

[2019-08-16 13:14] eksantrik opened #116 "Having issues receiving Netflow v9 from Cisco ASA"
Hello folks,

We installed vflow 0.7 from rpm. As part of our troubleshooting, we compiled it from source and swapped the executable that rpm creates under /bin with what we compiled. They both gave us the same result.

We are receiving netflow v9 on udp port 2055 but we cannot see any packets being written to local kafka instance. We tested the Kafka instance and it works fine. Please find what w

[2019-08-19 13:16] eksantrik commented on #34
Hello, has this issue been fixed? I think I am having a similar issue with my Cisco ASA Netflow v9.

[2019-08-21 06:36] munish45 commented on #70
You can use Kafka input plugin in Logstash to directly read the data from any partition in JSON format.

[2019-08-30 14:41] roycewilliams opened #119 "feature request/clarification: forwarding flows downstream"
If vflow does not support downstream forwarding - forwarding in specific flow formats, to multiple downstream flow-analysis systems - please consider this a feature request for that.

If vflow *does* support this, please consider this a request for clarification in the documentation.

[2019-09-04 22:01] danielkim-z commented on #119
Hello,
vFlow already has a feature to replicate the IPFIX traffic to an external destination. Is this the feature you are looking for? Please note that mirroring only supports single destination at the moment.

Thank you.

[2019-09-04 22:04] roycewilliams commented on #119
Yes, this is exactly the information I was looking for. Where is it located in the documentation? I want to understand why I could not find it.

[2019-09-10 00:40] danielkim-z commented on #119
It appears that we do not have a separate documentation on the mirror feature. There are three configuration options related to mirroring;

Please let us know if you have any questions.

[2019-10-22 18:55] eksantrik opened #120 "Applying UDPCount and DecodedCount values to performance"
We are doing some performance tests in the lab. After generating a bunch of Netflow v5 traffic in the lab, we stopped the packet generator and after 5 minutes we stopped vflow service on the machine. Following is what we see in the stats page:

{"StartTime":1571769677,"IPFIX":{"UDPQueue":0,"UDPMirrorQueue":0,"MessageQueue":0,"UDPCount":0,"DecodedCount":0,"MQErrorCount":0,"Workers":10},"SFlow":{"UD

[2019-10-22 18:57] eksantrik commented on #120
I am not sure if it is relevant but our simulation is sending 30 flows in a single Netflowv5 packet.

[2019-10-22 23:40] mehrdadrad commented on #120
Can you try 1k per seconds w/ less than 5 samples per packet? then check again the counters
p.s. you need to reset the counters by restarting the vflow.

[2019-12-09 06:09] networknerdz opened #122 "Recommendation for viewing the data"
Hi all, thanks for open sourcing this project, it looks neat.

I have things up and running and data being collected, but I am kinda stumped on a good way to visualize it (grafana?). Does anyone have any recommendations? I am new to Kafka, but have used Graphite/Grafana before.

Any open source projects that would be easy to integrate with vflow? Or any ideas from the maintainers on how they visua

[2019-12-09 10:08] leoluk commented on #122
If you need something that works out of the box, https://github.com/robcowart/elastiflow (rather than vflow) would probably be your best bet.

vflow is more of a building piece for a custom data aggregation/processing pipeline. We use it with a custom ClickHouse importer and a bunch of services that run SQL queries for intrusion detection.

[2019-12-09 19:36] networknerdz commented on #122
Thanks very much @leoluk! If you dont mind letting me leave the issue open for a couple of days to see if anyone else has other scenarios to share I would appreciate it. Either way tyvm!

[2020-01-14 20:50] sgreszcz opened #123 "go panic with .deb installation"
Jan 14 21:46:19 nfl-aer-001 vflow[84470]: [vflow] 2020/01/14 21:46:19 the full logging enabled
Jan 14 21:46:19 nfl-aer-001 vflow[84470]: fatal error: concurrent map read and map write
Jan 14 21:46:19 nfl-aer-001 vflow[84470]: goroutine 284 [running]:
Jan 14 21:46:19 nfl-aer-001 vflow[84470]: runtime.throw(0xa40078, 0x21)
Jan 14 21:46:19 nfl-aer-001 vflow[84470]: #011/usr/local/go/src/runtime/panic

[2020-05-20 03:59] mehrdadrad commented on #97
Thanks & pull request #98 merged

[2020-05-20 03:59] #97 closed

[2020-05-20 04:04] #33 closed

[2020-05-20 04:47] #120 closed

[2020-05-20 18:45] #122 closed

[2020-05-20 18:45] #79 closed

[2020-06-01 07:40] guyyur opened #124 "can't stop service when pid has 6 digits and after restart has 5 digits"
In vflow/options.go the PIDFile is opened with os.O_WRONLY|os.O_CREATE without truncating the file.

I had a scenario where vflow received pid 229006 crashed then restarted and received pid 92419.
The pidfile had 924196 (5 digits from new pid and 6th digit from old pid) and the process could not be stopped by "service vflow stop".

Because vflow crashed it did not clear the pidfile which happens i

[2020-06-01 19:38] #124 closed

[2020-06-01 19:42] mehrdadrad commented on #124
@guyyur Thanks! it just fixed

[2020-06-08 18:57] ttrading opened #125 "Sflow support on v.7"
I am testing the sflow collecting with "host sflow" tool (https://sflow.net/host-sflow-linux-config.php).

I can see the packets coming in but nothing is written to the Kafka topics and there are no error messages in the logs. I saw a couple of tickets for sflow and was wondering if anyone has been able to test sflow successfully with vflow v0.7.

Thanks,

[2020-06-09 23:35] mehrdadrad commented on #125
@ttrading sflow is stable at v.07 please check the counters through http://localhost:8081/flow
also make sure the sflow port is correct.

[2020-09-16 06:03] shmsr opened #126 "vflow: Read IPFIX messages"
Can `vflow` read IPFIX messages stored on a filesystem following the format
defined by `RFC 5655`?

[2020-09-18 00:42] mehrdadrad commented on #126
it doesn't support

[2020-09-18 00:42] #126 closed

[2020-10-05 14:52] bdollma opened #127 "Where to begin?"
Hi,
I found this project today and I am trying to find some documentation, but except for some short read me in the Github, I can't find anything. Is there something somewhere?
Anyhow,  I am trying to do something very simple. I have IPFix traffic incoming to one of the interfaces at port 4739.
I simply want to see the decoded JSON (easiest use case ever) of each packet. As a start, scale wouldn't

[2020-10-06 17:24] bdollma opened #128 "Failed decoding short IPFix sets"
Hi,
I am using your tool to verify an implementation of IPFix by decoding IPFix payloads.
It successfully decodes in most of the cases but I came upon the following case which failed.
I have a simple set, with 1 template, with 1 field, protocol field as you can see in the following picture:

<img width="561" alt="Screen Shot 2020-10-06 at 20 01 44" src="https://user-images.githubusercontent.com/43

[2020-10-07 07:18] bdollma opened #129 "Invalid Enterprise Number decoded on IPFix"
Hi,
Looking at decoding data sets for IPFix:
First you decode Scope fields and add them in here:

https://github.com/VerizonDigital/vflow/blob/b7cc5a3b5454b09ff915e07d36a225cf7588689a/ipfix/decoder.go#L537

Then, you decode normal fields and add them, but you forget to set the Enterprise Number (unlike the scope fields)

https://github.com/VerizonDigital/vflow/blob/b7cc5a3b5454b09ff915e07d36a225cf

[2020-10-07 07:32] bdollma opened #130 "Invalid decoding of Options-Template in IPFix"
Hi,
Trying to decode a simple options template with more than 1 scope field and failing.
The reason is the following line:

https://github.com/VerizonDigital/vflow/blob/b7cc5a3b5454b09ff915e07d36a225cf7588689a/ipfix/decoder.go#L470

Instead it should be:

[code]

I think the fix is self explanatory.

[2020-10-07 08:40] bdollma commented on #130
The same bug exists in Netflow v9 decoder as well.

The following line:

https://github.com/VerizonDigital/vflow/blob/b7cc5a3b5454b09ff915e07d36a225cf7588689a/netflow/v9/decoder.go#L304

should be replace with:

[code]

[2020-10-09 18:11] #130 closed

[2020-10-09 18:12] #129 closed

[2020-10-09 18:27] mehrdadrad commented on #127
The easiest way to try and see the decoded samples on the console without mq is the below command:
[code]

[2020-10-10 10:25] #127 closed

[2020-10-10 10:27] bdollma commented on #128
Hi,
Please, let me know what you think about this.
Thanks

[2020-10-12 13:04] dtaivpp opened #133 "Slack Link is dead"
The slack link from the documentation is dead. If this could either be updated or removed if it is no longer relevant that would be great.

[2020-10-16 02:58] mehrdadrad commented on #133
@dtaivpp thank you for letting us know. it removed!

[2020-10-16 02:58] #133 closed

[2020-10-21 00:25] punisherVX opened #134 "Slack link is broken in README"
I have a question about logging in the docker container and was going to use the slack link, but it redirects and says the shared join link is no longer valid.  Can you please fix so I can ask my question there?

Thanks.

[2020-10-21 19:23] mehrdadrad commented on #134
We prefer to have your question here but if you want to chat, we can chat at Linkedin (mehrdadrad)

[2020-10-21 20:29] punisherVX commented on #134
Sure, will do it here.  Thanks.

I am wanting to send IPFIX to vflow and then use the kafka producer to send it to a topic.  Using tcpdump (port 4739), I can see that the IPFIX packets are hitting the server, but I can't figure out how to see if they are actually hitting vflow.

I am using the container with the following command
[code]

Looking at the docker logs I get this:
[code]
which looks co

[2020-10-22 00:27] mehrdadrad commented on #134
Once you added the below to vflow.conf, vflow prints out the ipfix samples on the terminal.
[code]

[2020-10-22 01:38] punisherVX commented on #134
I added that and it didn't change anything, tho it does have this in the log now, so I know it took:
```[vflow] 2020/10/22 01:13:56 the full logging enabled```
However, I am still not getting anything.
Is this line in the log correct, meaning that it is bound to all interfaces in the container?
```[vflow] 2020/10/22 01:13:56 ipfix.go:116: ipfix is running (UDP: listening on [::]:4739 workers#: 300

[2020-10-22 04:02] punisherVX commented on #134
OK - got past that part.  Built a new VM and followed the instructions to install via deb pkg. Works to start and I can see the packets, but I am getting this error in the log:
[code]

[2020-10-22 04:46] mehrdadrad commented on #134
looks there is proprietary ipfix information element, you can add it at /etc/vflow/ipfix.elements (if you installed it by deb pkg then it should be exist otherwise you can download from https://raw.githubusercontent.com/VerizonDigital/vflow/master/scripts/ipfix.elements

[2020-10-22 07:55] canghai908 commented on #113
I have same problems.
[code]
this is the cap
[bb.cap.zip](https://github.com/VerizonDigital/vflow/files/5421038/bb.cap.zip)

[2020-10-22 13:48] punisherVX commented on #134
Thanks.  We are close.  I am still getting the same error tho.

I did install via deb package, but that file did not exist.  I also checked the file-system to make sure it wasn't some place else, couldn't find it. So, I downloaded the one provided, put it in /etc/vflow/ipfix.elements and then appended the elements below, stopped and started vflow but it is still throwing the error ```IPFIX element

[2020-10-22 17:02] mehrdadrad commented on #134
-config set configuration path
put the ipfix.elements and vflow.conf at the same directory like /etc/vflow then run:
[code]

[2020-10-22 17:55] punisherVX commented on #134
Problem still exists with that flag.  It's seeing the vflow.conf and mq.conf (even without the -config option) but not picking up the ipfix.elements file.

[2020-10-22 21:37] punisherVX commented on #134
Thanks to @mehrdadrad was able to get this fixed.
Needed to specify only 1 Kafka broker (for now) in the mq.conf file and the topic was populated.

[2020-10-22 21:37] #134 closed

[2020-11-07 17:51] hotid opened #136 "Reduced-size enconding support missing"
It seems that vflow does not support reduced-size encoding as per rfc5153 section-5.2.
Using reduced-size encoding for elements ends up with values showing as hex after been processed by vflow.

[2020-11-20 20:10] sjwang90 opened #137 "Support output formats other than protobuf over Kafka"
### Background/Use Case
InfluxData's Telegraf project received a request (influxdata/telegraf#8425) to integrated into vFlow for IPFIX/NetFlow support. Currently Telegraf does not support binary (ex: protobuf) formats.

### Feature Request
Request for vFlow to add one of the [following output formats](https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_OUTPUT.md) to ease the integ

[2020-11-26 09:38] saloni-vunet opened #138 "No data written to Kafka topic"
I am testing vFlow in Docker with Confluent Kafka. Creating a test netflow v5 flow with nerdalert/nflow-generator. The topic is created in Kafka but no data is written to the topic.
I see the following error in the logs:

`kafka: Failed to produce message to topic vflow.netflow5: dial tcp 127.0.0.1:9092: connect: connection refused`

I am running vFlow with the command
`docker run -d -p 4739:4739

[2020-12-02 03:52] mehrdadrad commented on #138
interesting! can you send me the full log?

[2020-12-02 05:05] saloni-vunet commented on #138
[code]

This is the log for vFlow container.

I modified the run command and added the --network option to run vFlow in the same overlay network of Confluent Kafka, but it still results in the exact same error log.

[2020-12-02 05:40] mehrdadrad commented on #138
can you try w/ docker-compose?
[code]

[2020-12-02 07:57] saloni-vunet commented on #138
I tried with docker-compose but still the same error. I believe it is just picking the default broker for producer and not the specified configuration

[code]

[2020-12-09 10:04] srikwit opened #139 "Netflow summarization of duplicate events"
Dear Team,

We currently have a setup that gathers Netflow data using vFlow which is sent to a Kafka instance from where it goes to Elasticsearch.

On analyzing the data we can see that  an event with the same unique Source IP, Destination IP, Source Port, Destination Port, Packet size, Packet count, Start time and End time can be distributed across multiple captured packets.

This can increase th

[2020-12-18 20:27] Slepwin opened #140 "rpm and deb packets for latest 0.9 version"
Could you please provide rpm and deb packets for latest 0.9 version.

[2020-12-20 05:34] mehrdadrad commented on #140
done

[2020-12-20 05:34] #140 closed

[2020-12-22 16:34] ttrading commented on #125
We are sending some sflow v5 traffic to vflow v0.7. Problem is that no packets are making it to the Kafka topic. Other Netflow protocols work fine.
We are keeping an eye on the vflow.log but no debug information is provided. We send the sflow packets to the host system and capture them using tcpdump. Is there a way to enable some logging for sflow so that we can start troubleshooting.

Thanks

[2021-01-06 01:43] ttrading commented on #113
Are there any updates on this issue? We are having the same problem with Cisco Nexus 3K. We see expanded sflow packets coming in but vflow is not processing them. Please let me know if you need any pcaps.

Thanks

[2021-01-06 02:37] ttrading opened #141 "Support for expanded sflow"
Does vflow support expanded sflow? We recently had an issue sending sflow data to vflow from a couple of Nexus 3K switches and we believe they are sending expanded flow and counter data instead of compact.

Thanks,

[2021-01-06 05:30] mehrdadrad commented on #141
It doesn't support expanded flow sample / type 3. It supports type 1 and 2.

[2021-01-06 18:51] ttrading commented on #141
Is it in the roadmap?

I saw a couple of other tickets with similar concerns because they were using Cisco Nexus switches. It may worth adding support for it at some point.

Thanks,

[2021-01-12 05:13] mehrdadrad commented on #141
we don't have any plan for this.

[2021-01-12 20:24] Slepwin opened #142 "API for vFlow Monitoring not working"
Hi, I've error below when i'm trying to hit API http://localhost:8081/flow or http://localhost:8081/sys
`404 page not found`

Reproducible on docker and RPM/DEB packages.

[2021-01-12 20:58] mehrdadrad commented on #142
The default format is prometheus. please try http://localhost:8081/metrics
You can change the format by stats-format  https://github.com/VerizonDigital/vflow/blob/master/docs/config.md
I just updated the documentations.

[2021-01-12 21:41] Slepwin commented on #142
Oh, my fault, thanks for help!

[2021-01-12 21:41] #142 closed

[2021-01-13 12:11] Slepwin commented on #86
It would be great.

[2021-01-13 14:13] Slepwin commented on #86
Looks like ipfix.elements on /etc/vflow/ doen't work anymore from:
https://github.com/VerizonDigital/vflow/issues/68

[2021-01-13 18:44] mehrdadrad commented on #86
it means the file is not exist through rpm or it doesn't load?
https://github.com/VerizonDigital/vflow/blob/master/scripts/ipfix.elements

[2021-01-13 20:34] Slepwin commented on #86
doesn't load, currently i have installed the latest version of RPM and copy https://github.com/VerizonDigital/vflow/blob/master/scripts/ipfix.elements to /etc/vflow/
with same rights as mq and vflow.conf and restart vflow service, i see only element ID not names.

[2021-01-17 17:49] Slepwin commented on #86
@mehrdadrad could you please describe how i can configure vflow with ipfix.elements if it works on current release.

[2021-01-17 21:29] mehrdadrad commented on #86
@Slepwin  Once you copied the file to /etc/vflow or your specified config directory, you can add enterprise elements:
[code]
you can find those information from the vendor documentation.
if you want to add to the zero, you can append the new elements which defined at IANA at the end of the current ipfix.elements (after element number 433)
the IANA https://www.iana.org/assignments/ipfix/ipfix.xhtml

[2021-01-17 21:30] #141 closed

[2021-01-18 21:41] Slepwin commented on #86
Hi @mehrdadrad my question not about enterprise elements, i see in kafka topics only element ID not names:
`{"AgentID":"10.0.13.1","Header":{"Version":10,"Length":105,"ExportTime":1610638197,"SequenceNo":1618410321,"DomainID":524288},"DataSets":[[{"I":8,"V":"10.15.223.228"},{"I":12,"V":"10.62.185.40"},{"I":5,"V":0},{"I":4,"V":6},{"I":7,"V":35634},{"I":11,"V":10050},{"I":32,"V":0},{"I":10,"V":631},

[2021-01-19 01:40] mehrdadrad commented on #86
@Slepwin  It doesn't!

[2021-01-26 10:54] Slepwin opened #143 "Duplicate fields produced to MQ"
Hi, i found strange issue, vflow produce messages to MQ with duplicates fields.
It can be tested with verbose:true in vflow.conf, after that i check the logs and see message (one message for example):
[code]
As you can see it's different from Decoded IPFIX data on main page, and many fields have duplicates: src/dst ip, src/dst AS, etc. Maybe i need some additional configuration on vflow side or it

[2021-01-27 07:54] mehrdadrad commented on #143
@Slepwin there are 5 diff samples in datasets.

[2021-01-27 14:57] jrz1977 opened #144 "Multicast discovery issue in Kubernetes"
In kubernetes and other cloud providers, multicast is disabled and usually not possible to enable. IPFIX template discovery in this scenario will fail. Is there an alternative method or plan to implement some kind of unicast discovery protocol?

[2021-01-28 12:26] Slepwin commented on #144
In k8s you can use different load-balancing algorithms for service, example for kube-router CNI:
[code]
All traffic from one device/source will always going to the same node and yo do not need use template discovery at all.

[2021-01-28 15:01] jrz1977 commented on #144
This could be a

This could be a workaround, but not ideal. Pods are ephemeral by nature and when a pod is recreated, until the device sends the template again, the new pod will not be able to process it.

Also sticky traffic is not ideal in enterprise networks, for example there could be 1000s of Wifi routers exporting ipfix.

[2021-01-29 18:43] #143 closed

[2021-02-01 14:23] Slepwin opened #145 "Question: how vflow handle IPFIX and Netflowv9sampling rate"
Hi,
I have a question how vflow handle IPFIX/Netflow v9 sampling rate, does it get from **Option Data Sets** and multiply by the number of bytes and packets automatically?

[2021-02-01 19:29] Slepwin commented on #144
Yes, after pod re-creation need some time (2-3 minutes) to get templates, that not a big problem, also if you have multiple device (routers, etc) you still can balance traffic between pods (with source hash you just sticky traffic from one router to some pod). Sticky traffic is a must for consistent hash.

[2021-02-26 09:12] dp20eic commented on #64
Hi,
It's an old question and was drawn as an enhancement, has anything changed or is it planned to implement in a future release?

[2021-02-26 17:59] mehrdadrad commented on #64
not yet, can you send me a pcap including sflow gateway data?

[2021-03-01 15:49] Slepwin opened #147 "sFlow messages to Kafka MQ broken"
Hi,

I have 0.9.0 version in k8s setup with ipfix/netflow v9 and sflow workers. IPFIX and Netflow v9 work fine and i see messages in related kafka topics, but don't see vflow.sflow topics in kafka. With only sflow enabled workers i see packets in tcpdump with length 0 on kafka nodes. Moreover with verbose: true in vflow.conf i can see successfully parsed sflow data like:
[code]
How can i troublesh

[2021-03-01 18:05] ttrading opened #148 "http-stats attribute is not honoring the status settings"
We installed v0.9 on a CentOS system.

http-stats: false is listed in the vflow.conf. However, when vflow is started it is still trying to listen on port TCP8081.

I am thinking this is due to the fact that ipv6 is enabled on this server but I just wanted to check with you first.

Thanks,

[2021-03-01 18:45] mehrdadrad commented on #148
@ttrading pls try stats-enabled: false instead.
https://github.com/VerizonDigital/vflow/blob/master/docs/config.md

[2021-03-01 19:00] mehrdadrad commented on #147
@Slepwin you should see the kafka errors at logging. try w/ a single broker and see how it works!

[2021-03-01 20:15] ttrading commented on #148
Sorry for the typo.. Yes, it is set to "stats-enabled: false".

The way we stumbled upon this issues was that we had another service running on TCP8081. After a reboot, vflow grabbed the port before that other process and started to cause issues.

We confirmed that stats-enabled is false but the vflow process was disregarding it and listening on port 8081 so as a workaround we changed the listen p

[2021-03-01 21:44] mehrdadrad commented on #148
@ttrading  Right, I just noticed it happens once the prometheus is selected (default). I'll fix it soon. Thanks!

[2021-03-04 20:04] #148 closed

[2021-03-08 22:10] #147 closed

[2021-03-08 22:10] Slepwin commented on #147
issue on kafka side.

[2021-03-25 18:04] Slepwin commented on #145
Seems like vflow completely ignores sampling interval field in IPFIX and Netflow packets and can't provide accurate information about traffic volume.

[2021-03-25 18:17] Slepwin commented on #145
Maybe it have some configuration knob to set sampling rate manually?

[2021-03-31 14:27] Slepwin commented on #145
@mehrdadrad could you please clarify.

[2021-04-01 00:54] mehrdadrad commented on #145
@Slepwin  samplingInterval IANA element id #34 deprecated please check samplingPacketInterval
https://www.iana.org/assignments/ipfix/ipfix.xhtml

[2021-04-01 08:44] Slepwin commented on #145
@mehrdadrad i have a ipfix.elements file with samplingPacketInterval element in /etc/vflow directory but i can confirm vflow doesn't take into account this info and doesn't multiple bytes to sampling rate provided from routers (tested on Juniper MX).

[2021-04-01 15:52] mehrdadrad commented on #145
vFlow doesn't multiply, if router sends the samplingPacketInterval then you should get it at dataset (json)
did you try tcpdump/wireshark to make sure it comes from Juniper MX router?

[2021-04-01 19:04] Slepwin commented on #145
Yes, i can confirm MX router send samplingPacketInterval for IPFIX and another collector do it (multiply) automatically. I also can't see samplingPacketInterval on vflow with debug mode.

[2021-04-02 03:17] mehrdadrad commented on #145
can you send me a pcap?

[2021-04-14 23:17] jansyren commented on #113
Hi, I have access to a bunch of Nexus 9k series switches that I think will benefit from this patch as well. I will try and patch the files and compile and see if it will decode our sflow data. Unfortunately I can't provide and pcap right now, maybe once I get a traffic generator going that I can share the sflow from.

[2021-05-07 12:52] dp20eic commented on #64
Hi,
sorry that I do not answer but a lot of private isuess.
I got some pcap files, one from brocate and one from huawei.

[flow.tar.gz](https://github.com/VerizonDigital/vflow/files/6441662/flow.tar.gz)

Let me know if this is ok or you need more.

with kind regards
Bernd

[2021-05-11 16:32] mayouche77 opened #151 "service is staring using default ports"
Hello,

I've downloaded and installed the following vflow version vflow-0.4.1.amd64.rpm. on centos7 and I've updated the vflow.conf to run on customized ports;  however it seems that the vflow service starts using the default ports specified in the documentation. Are there any additional configurations needed for the service to run on other ports?
[vflow] 2021/05/11 11:28:37 Welcome to vFlow v.0.4

[2021-05-11 20:00] mayouche77 commented on #151
This version is working. I appreciate your prompt response

[2021-05-11 20:00] #151 closed

[2021-06-04 11:02] dp20eic commented on #64
Hi @mehrdadrad,

was it ok for you or did you need more from my side?

with kind regards
Bernd

[2021-06-09 16:59] hitesh-vmware opened #152 "Getting "IPFIX element key (890) not exist" from VMware"
Followed the steps mentioned in https://github.com/VerizonDigital/vflow/issues/71 but still getting the same error.
changed the file /etc/vflow/ipfix.elements and restarted vflow usinf service vflow restart but still getting the error.

[2021-06-16 08:44] Jacfal commented on #125
Is there any solution? I have the same problem. SFlow receiving works fine, at least according to the logs

[code]

but there isn't any output to Kafka topics. At SFlow stats I see that at least 3900 messages were received, but 0 messages were decoded. Can this be a trouble?

[code]

[2021-06-16 14:23] mehrdadrad commented on #125
@Jacfal I think your device sends sflow expanded data format, vFlow doesn't support it.

[2021-07-08 19:45] mayouche77 opened #153 "SONIC Sflow support"
Does vflow support Sflow collection from SONIC. I'm able to collect sflow from some devices in our environment but I'm not seeing information such as source IP, Source port, DST IP and DST port
https://github.com/Azure/SONiC/blob/master/doc/sflow/sflow_hld.md

[2021-09-23 09:39] siddharth178 commented on #152
While adding elements in ipfix.elements, add it under enterprise id 6876 - the vmware's enterprise id.

like this -
[code]

[2021-10-27 13:05] KrunalT opened #154 "Sflow paring issue"
Hello,

When I am parsing sflow using vflow so in that 2 cases is happening.

1. When I have given the below flow it's parsed successfully and given respected output, you can see that I am getting data into **Samples**

`12:22:28.035013 IP (tos 0x0, ttl 254, id 0, offset 0, flags [none], proto UDP (17), length 216)
    172.16.14.5.50315 > 10.20.40.34.6343: sFlowv5, IPv4 agent 192.168.2.3, agent-id

[2021-10-31 20:39] mehrdadrad commented on #154
vFlow doesn't support expanded flow sample / type 3. It supports type 1 and 2. maybe it sends type 3 as well?!

[2021-11-15 06:26] KrunalT commented on #154
Alright @mehrdadrad, Yes it's expanded flow.

I have another issue is that, getting diff total length in sflow. You can check below tcpdump and output.

11:22:50.476764 IP (tos 0x0, ttl 254, id 0, offset 0, flags [none], proto UDP (17), length 212)
172.16.14.5.52991 > 10.20.40.34.6343: sFlowv5, IPv4 agent 128.0.0.4, agent-id 0, seqnum 12581, uptime 120987363, samples 1, length 184
flow sample (1),

[2022-01-19 11:16] mikets-gc commented on #74
`continue` used in the fix suggested skips reading the element bytes and thus makes the subsequent stream inconsistent.
Instead the suggested
[code]
I've added
[code]

[2022-01-21 15:16] mayouche77 opened #156 "CVE-2019-17543 - LZ4 vulnerability"
Are you aware of the following vulnerability tied to https://github.com/cloudflare/golz4?
Thank you

[2022-01-28 21:45] yangyu66 commented on #154
@mehrdadrad, any plan to support expanded flow sample / type 3? I'm interested in creating a pr to add that

[2022-01-30 18:33] vpease opened #157 "multinode cluster how to guide missing"
I need to use vflow in a HA configuration.
Considering that it's mentioned in the main document, it would be nice to have a step by step guide to install it that way.

Please, your colaboration to guide on this, or if there is any document about how to to it.

Thanks in advance

[2022-01-30 18:48] vpease commented on #157
Answering to myself:
- **According to the implementation graphic:** There is a LB in front of any Active Vflow node. There is no communication between these nodes and that is Ok, because the LB will send the incoming traffic to only one active vflow node, so that information will end in the same Kafka cluster only 1 time.

So the high availability is there with no additional configuration required

[2022-05-14 14:31] ishanjain28 opened #161 "Errors in trying to use this project as a library"
Last release was 0.9.0 back in 2020.

At that point in time, The `go.mod` in this project referred to this project as,`github.com/VerizonDigital/vflow`. [See](https://github.com/EdgeCast/vflow/blob/023098c4b6055f7cab338ed4ed33aaadb9c1974a/go.mod)

Go tooling tries to pull the latest tag which is 0.9.0 and then fails because it's trying to download `github.com/EdgeCast/vflow` but the project in tha

[2022-05-14 23:47] tinselcity commented on #161
@ishanjain28 The project's original maintainer @mehrdadrad has moved on to another company (Riot Games I believe).

I'm not sure how much he's planning on maintaining it going forward.  I'm not entirely familiar with the project or the release process, but I'll try to give the project an org update and a new release.

[2022-05-15 17:25] ishanjain28 commented on #161
hey @tinselcity thank you for responding!

I had tested this out in my own fork https://github.com/ishanjain28/vflow and just creating a new release will fix this problem.

(also, I had to write my own thing for this because this project doesn't support dumping flows to ZMQ which is used by ntopng)

[2022-05-15 20:08] tinselcity commented on #161
Thx I put up PR: https://github.com/EdgeCast/vflow/pull/162
I'm reaching out to Mehrdad as well.
I'll try to at least get some module updates and maybe a latest release out the door.

Thanks so much for bringing this to our attention!

[2022-05-16 17:25] mehrdadrad commented on #161
Thanks @tinselcity! I just merged the PR and I created a new release! (v0.9.1)
@ishanjain28 Please try again!

[2022-05-16 17:31] tinselcity commented on #161
Thx so much @mehrdadrad !

[2022-05-16 18:45] ishanjain28 commented on #161
It works fine now! thank you

[2022-07-05 21:13] mayouche77 opened #165 "Vflow support of Kafka Partition key"
Does Vflow support the use of Kafka partition key to direct flow messages to a specific partition based on device ID for example? This feature will be helpful to do correlation, bit rate calculations ,etc ..

[2022-10-12 12:52] dbardbar opened #168 "memcache.go has possible hash collisions, leading to wrong values saved/retrieved from cache"
In memcache.go there's TemplatesShard which has a map with uint32 as key.
The key is computed as a hash of the sender's IP and template ID.

It is possible to have multiple senders or multiple template IDs that will result in in the same hash.
In such a case, they will overwrite each-other in the cache, leading to incorrect parsing of the traffic from the other sender.
In the best case scenario, t

[2022-11-04 22:15] shaikmuzakkir opened #171 "vflow_ipfix_udp_packets doesn't increase on stress traffic"
On my setup on k8s, when I run the stress script, I don't see vflow_ipfix_udp_packets metric increasing. Any reason why?

[2022-11-10 15:36] dbardbar opened #172 "Abandoned project?"
Hi

I'm seeing many issues without any response and no comments/approvals from maintainers on pull requests.
Is this project abandoned?
Does anyone know the who official maintainers are? I've tried to reach @mehrdadrad, but to no avail.
Any ideas how to proceed?

[2022-11-10 19:10] thehelix112 commented on #172
Hey @dbardbar, sorry for the lack of updates here.  vflow is still heavily utilized internally to Edgio, however we have largely been working on it in an internal fork that we need to bring back into alignment with the open source version here (and then keep them in sync in the future).  Not abandoned.

[2022-11-10 19:32] mehrdadrad commented on #172
I would like to help but I don't have any test environment for testing new changes.